﻿@using Logic.DataBusinessObjects.Webservices;
@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/webservices";
 
@inherits WebservicePageModel;
@using OCBlazor.Pages
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;
@using OCBlazor.Components;
@using Microsoft.AspNetCore.Components.Web
@using OCBlazor.Models;
@using Database.DataAccessObjects;
 
 

<DxGrid Data="@WebserviceExternalList"
        KeyboardNavigationEnabled="true"  >
    <Columns>
        <></>
       <DxGridCommandColumn>
            <CellDisplayTemplate>
                <a class="fa fa-play-circle" @onclick="@(() => RunWebservice(((WebserviceExternal)context.DataItem)))" style="text-decoration: none;" href="javascript:void(0);"></a>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
        <DxGridDataColumn FieldName="Id" Caption="Nr." />
        <DxGridDataColumn FieldName="CustomerName" Caption="Klant" />
        <DxGridDataColumn FieldName="ApiName" Caption="API Naam" />
        <DxGridDataColumn FieldName="LastRunStatus" Caption="LastRunStatus" />
        <DxGridDataColumn FieldName="LastRunDate" Caption="LastRunDate" />
        <!--<DxGridDataColumn FieldName="LastRunErrorString" Caption="LastRunErrors" />-->
        <DxGridDataColumn FieldName="LastRunErrorString" Caption="LastRunError" />     
    </Columns>
 </DxGrid>


<DxUpload Name="myFile" FileUploaded="@((args) => OnFileUploaded(args))" FileUploadError="@((args)=>OnUploadError(args))"
          ExternalDropZoneCssSelector="#overviewDemoDropZone" MaxFileSize="15000000"
          ExternalDropZoneDragOverCssClass="custom-drag-over border-light text-white"
          UploadUrl="@GetUploadUrl("api/Upload/UploadFile/")">
</DxUpload>
@{
    if (LastRunWebservice != null)
    {
        <div style="white-space:pre-line">@LastRunWebservice.LastRunErrorString</div>
    }
}

<div class="alert alert-danger @(ErrorVisible? " visible" : " invisible")">@MyError</div>

 