﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/aankoop";
@page "/aankoop/{ArtikelCategorieID:int}";

 
@inherits AankoopPageModel;
@using OCBlazor.Pages
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;
@using OCBlazor.Components;
@using Microsoft.AspNetCore.Components.Web
@using OCBlazor.Models;
@using Database.DataAccessObjects;
@using Logic.DataBusinessObjects.Aankoop;
@using Logic.DataBusinessObjects;

@if (ClientenPopupIsVisible)
{
    <ClientenPopupMulti ActionOnClose="@OnActionOnCloseClientPopupMulti" PopupVisible="@ClientenPopupIsVisible"></ClientenPopupMulti>
}
@if (LeefgroepPopupIsVisible)
{
    <LeefgroepPopupMulti ActionOnClose="@OnActionOnCloseLeefgroepPopupMulti" PopupVisible="@LeefgroepPopupIsVisible"></LeefgroepPopupMulti>
}
@if (ArtikelPopupIsVisible)
{
    <ArtikelPopupMulti ArtikelCategorieID="@ArtikelCategorieID" ActionOnClose="@OnActionOnCloseArtikelPopupMulti" PopupVisible="@ArtikelPopupIsVisible"></ArtikelPopupMulti>
}

@*<LocatiePopup ActionOnClose="@OnActionOnCloseLocatiePopup" PopupVisible="@LocatiePopupIsVisible"></LocatiePopup>*@

<LogoPageTitle PageTitle="@WindowTitle"></LogoPageTitle>
<div class="row" Style="margin-bottom:20px">
    <div class="col-md-4">
        <button type="button" class="btn btn btn-secondary" title="cliënt toevoegen" @onclick="@AddClientClick"><i class="fas fa-plus"></i>@($"Cliënt toevoegen")</button>
        <button type="button" class="btn btn btn-secondary" title="cliënt toevoegen" @onclick="@AddLeefgroepClick"><i class="fas fa-plus"></i>@($"Leefgroep toevoegen")</button>
    </div>
    <div class="col-md-8">
        @if (SelectedEntiteitAankoop.Client.Id>0 || SelectedEntiteitAankoop.Leefgroep.Id>0)
        {
            <button type="button" class="btn btn btn-secondary" title="artikel toevoegen" @onclick="@AddArtikelClick"><i class="fas fa-plus"></i>@($"Artikel toevoegen")</button>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <DxDataGrid Data=@EntiteitAankoopList PageSize="1000" ShowPager="false" ShowFilterRow="true" AutoCollapseDetailRow="true"
                    ShowDetailRow="true" DataRowCssClass="DevGridAlternateRowColor"
                    @bind-SingleSelectedDataRow="@SelectedEntiteitAankoop">
            <Columns>
                <DxDataGridColumn Caption="" Width="60px">
                    <DisplayTemplate>
                        @{
                            var ca = (context as EntiteitAankoop);
                            @if (ca.Afgesloten == true)
                            {
                                <i class="fa fa-lock fa-xs"></i>
                            }
                        }
                    </DisplayTemplate>
                </DxDataGridColumn>
                <DxDataGridColumn Caption="Voornaam">
                    <DisplayTemplate>
                        @{
                            var ca = (context as EntiteitAankoop);
                            if (ca.IsClient)
                                @ca.Client.FirstName
                        }
                    </DisplayTemplate>
                </DxDataGridColumn>
                <DxDataGridColumn Caption="Achternaam">
                    <DisplayTemplate>
                        @{
                            var ca = (context as EntiteitAankoop);
                            @ca.Client.LastName
                        }
                    </DisplayTemplate>
                </DxDataGridColumn>
                <DxDataGridColumn Caption="Leefgroep(en)">
                    <DisplayTemplate>
                        @{
                            var ca = (context as EntiteitAankoop);
                            if (ca.IsClient)
                                @ca.Client.LeefgroepenString
                            else
                                @ca.Leefgroep.Name;
                        }
                    </DisplayTemplate>
                </DxDataGridColumn>
            </Columns>
        </DxDataGrid>
    </div>
    <div class="col-md-8">

        <DxDataGrid Data="@SelectedEntiteitAankoop.Artikelen" @ref="GridAankoopArtikel"
                    RowUpdating=@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))
                    SelectAllMode="DataGridSelectAllMode.AllPages" DataRowCssClass="DevGridAlternateRowColor">


            <DxDataGridCommandColumn Visible="@(SelectedEntiteitAankoop.Client.Id>0 || SelectedEntiteitAankoop.Leefgroep.Id>0)" ClearFilterButtonVisible="false" Width="100">
                <HeaderCellTemplate>

                </HeaderCellTemplate>
                <CellTemplate>
                    <button @onclick="@(() => GridAankoopArtikel.StartRowEdit(context))" class="btn d-flex align-items-center justify-content-center" title="editeren" style="cursor: pointer;"><i class="fa fa-edit fa-x"></i></button>
                </CellTemplate>
            </DxDataGridCommandColumn>


            <DxDataGridColumn Field=@nameof(AankoopArtikel.ArtikelNr) Caption="Nr"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AankoopArtikel.Name) Caption="Naam"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AankoopArtikel.KleurCode) Caption="KleurCode)"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AankoopArtikel.Maat) Caption="Maat"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AankoopArtikel.StuksPerVerpakking) Caption="#Stuks"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AankoopArtikel.Prijs) Caption="Prijs"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(AankoopArtikel.Aantal) Caption="Aantal"></DxDataGridColumn>

        </DxDataGrid>

    </div>
</div>

