﻿@using Common.CloneExtensions
@using OCBlazor.Pages.Popups
@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/maaltijdregistratie";

@inherits MaaltijdRegistratieGridModel;
@using OCBlazor.Pages
@using DevExpress.Blazor;
@using Logic.Modules;
@using OCBlazor.Components;
@using  Logic.DataBusinessObjects.Onkostennota


<style>
    .align-right {
        float: right;
    }
</style>

<LogoPageTitle PageTitle="Mijn maaltijdregistraties"></LogoPageTitle>



@if (ClientenPopupIsVisible)
{
    <ClientenPopupMulti ActionOnClose="@OnActionOnCloseClientenPopupMulti" PopupVisible="@ClientenPopupIsVisible" ClientenPool="@AllMyClienten.DeepClone()" AllClientenPool="@AllMyClienten.DeepClone()" SelectedClienten="@NewOnkostennotaItem.Clienten" />
}
@if (QuestionPopupVisible)
{
    <QuestionPopup ActionYes="@DeleteItem" ActionNo="@OnQuestionNo" Question="Wenst u deze ingave te verwijderen ?" YesButtonText="Ja" NoButtonText="Neen" PopupVisible="@QuestionPopupVisible"></QuestionPopup>
}

<div   >
   
        <button type="button" class="btn btn btn-secondary" title="Onkostennota toevoegen" @onclick="@OnkostennotaToevoegen_Click"><i class="fas fa-plus"></i>@($"Maaltijdregistratie toevoegen")</button>
   
</div>

<DxGrid Data="@AllOnkostennotas" PageSize="15">
    <Columns>
         <DxGridDataColumn Caption=" " AllowSort="false" Width="35">
            <CellDisplayTemplate>
                @if ((((OnkostennotaItem)context.DataItem).IsAfgerekend) || (DateTime.Today.Date >= ((OnkostennotaItem)context.DataItem).OnkostenNotaDate.Date || (DateTime.Today.AddDays(1).Date == ((OnkostennotaItem)context.DataItem).OnkostenNotaDate.Date && DateTime.Now.Hour >= 10)))
                {
                    <p></p>
                }
                else
                {
                    <button @onclick="() => OnButtonDelete((OnkostennotaItem)context.DataItem)" class="btn d-flex" title="onkostennota verwijderen" style="cursor: pointer; padding: 0p;"> <i class="fas fa-trash"></i> </button>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="IsAfgerekend" Caption="Verwerkt" Width="100" />
        <DxGridDataColumn FieldName="OnkostenNotaDate" Caption="Datum v. onkostennota" Width="150" />
        <DxGridDataColumn FieldName="CategorieNaam" Caption="Type" Width="150" />
        <DxGridDataColumn FieldName="LeefgroepName" Caption="Leefgroep/Locatie" Width="150" />
        <DxGridDataColumn FieldName="AandachtspuntenEcqareNaam" Caption="Speciale wensen" Width="150" />
        <DxGridDataColumn FieldName="Bedrag" Caption="Bedrag" DisplayFormat="c"  />
         
    </Columns>
</DxGrid>

@if (LeefgroepPopupIsVisible)
{
<LeefgroepPopup ActionOnClose="@OnActionOnCloseLeefgroepPopup" PopupVisible="@LeefgroepPopupIsVisible" LeefgroepPool="@(MyDoorgeefLeefgroepen.DeepClone())" />
}

@if (IngavePopupVisible)
{
<DxPopup @bind-Visible="@IngavePopupVisible" HeaderText="@PopupTitle" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnPopupCancelClick())" CloseOnOutsideClick="false">
    <ChildContent>
            @if (IngavePopupVisible)
            {
              
             
               


                <label for="IdType" class="demo-text cw-320 mb-1">
                    Type
                </label>
                <DxComboBox Data="@OnkostennotaCategorieItems" ValueFieldName="Id" 
                            @bind-Value="@NewOnkostennotaItem.CategorieId" 
                            TextFieldName="Naam"
                            AllowUserInput="false"
                            NullText="Kies een type..."
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            SelectedItemChanged="@(EventCallback.Factory.Create<OnkostennotaCategorieItem>(this, item => OnSelectedItemChanged(item)))"
                            InputId="IdType" />



                @if (_onkostennotaService.IsBegeleidendPesoneel(NewOnkostennotaItem.CategorieId))
                {
                    <label for="Leefgroep/Locatie" class="demo-text cw-320 mb-1">
                        Leefgroep/Locatie
                    </label>



                    <DxTextBox @bind-Text="@NewOnkostennotaItem.LeefgroepName" ReadOnly="true" CssClass="cw-320" InputId="Leefgroep/Locatie">

                    <Buttons>
                            <DxEditorButton Tooltip="Leefgroep/Locatie"
                                        Position="@EditorButtonPosition.Right"
                                        Click="@(_ => OnSelectLeefGroep())"><i class="fas fa-plus"></i></DxEditorButton>
                    </Buttons>


                </DxTextBox>
                }




                @if ((_onkostennotaService.IsBegeleidendPesoneel(NewOnkostennotaItem.CategorieId) && NewOnkostennotaItem.LeefgroepId.HasValue) || _onkostennotaService.IsNietBegeleidendPesoneel(NewOnkostennotaItem.CategorieId))
                {
                    <label for="IdOnkostenNotaDate" class="demo-text cw-320 mb-1">
                        Datum(s) maaltijdregistratie
                </label>


                <MultipleDatesInputComponent SelectedDates="@SelectedDates" MinDate="@MinDate" MaxDate="@MaxDate" DisabledDates="@DisabledDates"></MultipleDatesInputComponent>


                    <label for="Speciale wensen" class="demo-text cw-320 mb-1">
                        Speciale wensen
                    </label>
                    <DxComboBox Data="@Aandachtspunten"
                                TextFieldName="@nameof(MaaltijdAandachtspuntenItem.Naam)"
                                @bind-Value="@SelectedAandachtspunt"
                                CssClass="cw-480"
                                InputId="cbOverview" />
                
                
                }



             

                <label for="IdBedrag" class="demo-text cw-320 mb-1">
                    Bedrag
                </label>
                <DxMaskedInput @bind-Value="@NewOnkostennotaItem.Bedrag" Mask="@NumericMask.Currency" CssClass="cw-320" InputId="IdBedrag" Enabled="false" />

             


                <div class="align-right">
                    <br />
                    <button type="button" class="btn btn btn-primary" title="Opslaan" @onclick="@OnPopupSaveAndCloseClick">@($"Opslaan") <i class="fas fa-disk"></i></button>
                </div>
            }
           
           

           
          
      


            
    </ChildContent>
</DxPopup>

}
    @if (PopupBijlageMananagerReadOnyVisible)
    {
    <DxPopup @bind-Visible="@PopupBijlageMananagerReadOnyVisible" HeaderText="Bijlagemanager" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnPopupCancelClick())" CloseOnOutsideClick="false">
    <ChildContent>
            <BijlageManager Id="PopupBijlageMananagerID.GetValueOrDefault()" Module="ModuleType.ONKOSTENNOTA" CanDelete="false"></BijlageManager>
             </ChildContent>
        </DxPopup>
    }



@code {

   

}
