﻿@using Common.CloneExtensions
@using OCBlazor.Pages.Popups
@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/onkostennota";

@inherits OnkostennotaGridModel;
@using OCBlazor.Pages
@using DevExpress.Blazor;
@using Logic.Modules;
@using OCBlazor.Components;
@using  Logic.DataBusinessObjects.Onkostennota


<style>
    .align-right {
        float: right;
    }
</style>

<LogoPageTitle PageTitle="Mijn onkostennota's"></LogoPageTitle>



@if (ClientenPopupIsVisible)
{
    <ClientenPopupMulti ActionOnClose="@OnActionOnCloseClientenPopupMulti" PopupVisible="@ClientenPopupIsVisible" ClientenPool="@AllMyClienten.DeepClone()" AllClientenPool="@AllMyClienten.DeepClone()" SelectedClienten="@NewOnkostennotaItem.Clienten" />
}
@if (QuestionPopupVisible)
{
    <QuestionPopup ActionYes="@DeleteItem" ActionNo="@OnQuestionNo" Question="Wenst u deze ingave te verwijderen ?" YesButtonText="Ja" NoButtonText="Neen" PopupVisible="@QuestionPopupVisible"></QuestionPopup>
}

<div   >
   
        <button type="button" class="btn btn btn-secondary" title="Onkostennota toevoegen" @onclick="@OnkostennotaToevoegen_Click"><i class="fas fa-plus"></i>@($"Onkostennota toevoegen")</button>
   
</div>

<DxGrid Data="@AllOnkostennotas" PageSize="15">
    <Columns>
         <DxGridDataColumn Caption=" " AllowSort="false" Width="35">
            <CellDisplayTemplate>
                @if (((OnkostennotaItem)context.DataItem).IsAfgerekend == false)
                {
                    <button @onclick="() => OnButtonDelete((OnkostennotaItem)context.DataItem)" class="btn d-flex" title="onkostennota verwijderen" style="cursor: pointer; padding: 0p;"> <i class="fas fa-trash"></i> </button>
                }
            </CellDisplayTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="IsAfgerekend" Caption="Verwerkt" Width="100" />
        <DxGridDataColumn FieldName="OnkostenNotaDate" Caption="Datum v. onkostennota" Width="150" />
        <DxGridDataColumn FieldName="CategorieNaam" Caption="Type" Width="150" />
        <DxGridDataColumn FieldName="Beschrijving" Caption="Beknopte beschrijving" />

        <DxGridDataColumn FieldName="ClientenStringFromDB" Caption="Clienten" />
        <DxGridDataColumn FieldName="Bedrag" Caption="Bedrag" DisplayFormat="c" Width="150" />
        <DxGridDataColumn Caption=" " AllowSort="false" Width="35">
            <CellDisplayTemplate>
                <button @onclick="() => ShowDownload((OnkostennotaItem)context.DataItem)" class="btn d-flex" title="Bestand downloaden" style="cursor: pointer; padding: 0p;"> <i class="fas fa-download"></i></button>
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>
</DxGrid>

@if (IngavePopupVisible)
{
<DxPopup @bind-Visible="@IngavePopupVisible" HeaderText="@PopupTitle" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnPopupCancelClick())" CloseOnOutsideClick="false">
    <ChildContent>
            @if (IngavePopupVisible && IngavePopupPage1Visible)
            {
              
                <label for="IdOnkostenNotaDate" class="demo-text cw-320 mb-1">
                    Datum onkostennota
                </label>
                <DxDateEdit @bind-Date="@NewOnkostennotaItem.OnkostenNotaDate" CssClass="cw-320" InputId="IdOnkostenNotaDate"></DxDateEdit>


                <label for="IdType" class="demo-text cw-320 mb-1">
                    Type
                </label>
                <DxComboBox Data="@OnkostennotaCategorieItems" ValueFieldName="Id"
                @bind-Value="@NewOnkostennotaItem.CategorieId" TextFieldName="Naam"
                            AllowUserInput="false"
                            NullText="Kies een type..."
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            InputId="IdType" />


                <label for="IdOnkostenNotaNaam" class="demo-text cw-320 mb-1">
                   Beknopte beschrijving
                </label>
                <DxTextBox @bind-Text="@NewOnkostennotaItem.Beschrijving" CssClass="cw-320" InputId="IdOnkostenNotaNaam" />

                <label for="IdBedrag" class="demo-text cw-320 mb-1">
                    Bedrag
                </label>
                <DxMaskedInput @bind-Value="@NewOnkostennotaItem.Bedrag" Mask="@NumericMask.Currency" CssClass="cw-320" InputId="IdBedrag" />

                <label for="IdClienten" class="demo-text cw-320 mb-1">
                   Doorrekenen aan cliënten : 
                </label>
                    <DxTextBox @bind-Text="@NewOnkostennotaItem.ClientenString" ReadOnly="true" CssClass="cw-320" InputId="IdClienten" >
                   
                             <Buttons>
                <DxEditorButton 
                                Tooltip="Cliënten selecteren"
                                Position="@EditorButtonPosition.Right"
                                        Click="@(_ => OnClientenKiezen_Click())"><i class="fas fa-plus"></i></DxEditorButton>
            </Buttons>
                        
                  
                    </DxTextBox>


                <div class="align-right">
                    <br />
                <button type="button" class="btn btn btn-primary" title="Volgende" @onclick="@OnPopupToPage2Click">@($"Naar stap 2 (bijlagen uploaden)") <i class="fas fa-arrow-right"></i></button>
                </div>
            }
            @if (IngavePopupVisible && IngavePopupPage2Visible)
            {
                <BijlageManager Id="NewOnkostennotaItem.Id" Module="ModuleType.ONKOSTENNOTA" CanDelete="CanDeleteBijlage" AantalBijlagesChanged="AantalBijlagesChanged"></BijlageManager>
                <div class="align-right">
                    <button type="button" class="btn btn btn-primary" title="Opslaan" @onclick="@OnPopupToPage3Click">@($"Naar stap 3 (Samenvatting)")<i class="fas fa-disk"></i></button>
                </div>
            }
            @if (IngavePopupVisible && IngavePopupPage3Visible)
            {
                <label for="IdOnkostenNotaDate" class="demo-text cw-320 mb-1">
                    Datum onkostennota
                </label>
                <DxDateEdit @bind-Date="@NewOnkostennotaItem.OnkostenNotaDate" CssClass="cw-320" ReadOnly="true" InputId="IdOnkostenNotaDate"></DxDateEdit>


                <label for="IdType" class="demo-text cw-320 mb-1">
                    Type
                </label>
                <DxComboBox Data="@OnkostennotaCategorieItems" ValueFieldName="Id"  ReadOnly="true"
                @bind-Value="@NewOnkostennotaItem.CategorieId" TextFieldName="Naam"
                            AllowUserInput="false"
                            NullText="Kies een type..."
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            InputId="IdType" />


                <label for="IdOnkostenNotaNaam" class="demo-text cw-320 mb-1">
                    Beknopte beschrijving
                </label>
                <DxTextBox @bind-Text="@NewOnkostennotaItem.Beschrijving" CssClass="cw-320" InputId="IdOnkostenNotaNaam" ReadOnly="true" />

                <label for="IdBedrag" class="demo-text cw-320 mb-1">
                    Bedrag
                </label>
                <DxMaskedInput @bind-Value="@NewOnkostennotaItem.Bedrag" Mask="@NumericMask.Currency" CssClass="cw-320" InputId="IdBedrag" ReadOnly="true" />


                  <label for="IdClienten2" class="demo-text cw-320 mb-1">
                   Doorrekenen aan cliënten : 
                </label>
                    <DxTextBox @bind-Text="@NewOnkostennotaItem.ClientenString" ReadOnly="true"   IsEn CssClass="cw-320" InputId="IdClienten2" >
                   
                 
           </DxTextBox>



                <DxCheckBox CssClass="w-100"
                @bind-Checked="@NewOnkostennotaItem.AkkoordVerklaring"
                            Alignment="CheckBoxContentAlignment.Default"
                            LabelPosition="LabelPosition.Left">
                    Ik verklaar alle gegevens correct te hebben ingegeven.
                </DxCheckBox>
                <div class="align-right">
                    <button type="button" class="btn btn btn-primary" title="Opslaan" @onclick="@OnPopupSaveAndCloseClick">@($"Opslaan") <i class="fas fa-disk"></i></button>
                </div>
            }

           
          
      


            
    </ChildContent>
</DxPopup>

}
    @if (PopupBijlageMananagerReadOnyVisible)
    {
    <DxPopup @bind-Visible="@PopupBijlageMananagerReadOnyVisible" HeaderText="Bijlagemanager" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnPopupCancelClick())" CloseOnOutsideClick="false">
    <ChildContent>
            <BijlageManager Id="PopupBijlageMananagerID.GetValueOrDefault()" Module="ModuleType.ONKOSTENNOTA" CanDelete="false"></BijlageManager>
             </ChildContent>
        </DxPopup>
    }



@code {

   

}
