﻿@using OCBlazor.Services;
@page "/keuze/clienten/";

@inherits ClientenPopupModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
    <style>
        .myPopupCss {
            max-width: 900px;
        }
    </style>
 
    <DxPopup @bind-Visible="@PopupVisible" HeaderText="Cliënten" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())">
        <ChildContent>
            <div class="container-fluid">
                <div class="row">
                    <DxDataGrid Data=@Clienten PageSize="10" ShowPager="true" @bind-SingleSelectedDataRow="@SelectedClient" ShowFilterRow="true">
                        <DxDataGridColumn Field=@nameof(Client.LastName) Caption="Achternaam" SortIndex="0" SortOrder="@DataGridColumnSortOrder.Ascending"></DxDataGridColumn>
                        <DxDataGridColumn Field=@nameof(Client.FirstName) Caption="Voornaam"></DxDataGridColumn>

                        <DxDataGridColumn Field=@nameof(Client.LeefgroepenString) Caption="Leefgroep(en)"></DxDataGridColumn>
                    </DxDataGrid>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                    </div>
                    <div class="col-6 text-right">
                        @if (SelectedClient == null)
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" disabled="disabled"><i class="fas fa-user-plus"></i> Cliënt toevoegen</button>
                        }
                        else
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())"><i class="fas fa-user-plus"></i> Cliënt toevoegen</button>
                        }
                    </div>
                </div>
            </div>
        </ChildContent>
    </DxPopup>
 