﻿@using OCBlazor.Services;
@page "/meerkeuze/clienten/";
@inherits ClientenPopupMultiModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
<style>
    .myPopupCss {
        max-width: 900px;
        max-height: 900px;
    }
  
    
</style>
 
 
 

    <DxPopup @bind-Visible="@PopupVisible" HeaderText="Cliënten" CssClass="myPopupCss" ShowCloseButton="true" Closed="@(() => OnCancelButtonClick())">
        <ChildContent>
            <div class="container-fluid">
              

            <div class="row">


                <DxGrid Data="ClientenGridUpper"  
                        @ref="refClientenGridUpper"
                   
                        KeyFieldName="Id"
      
                        AllowSort="false"
                        AllowGroup="false"
                        ShowFilterRow="false"
                        SelectedDataItems="SelectedClientenGridUpper"
                        ColumnResizeMode="GridColumnResizeMode.NextColumn"
                        SelectedDataItemsChanged="OnSelectedDataItemsChangedUpper"
                        TextWrapEnabled="false"
                        PageSize="7"
                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                        HighlightRowOnHover="true">
                    <Columns>
                        <DxGridSelectionColumn Width="104px" />
                        <DxGridDataColumn FieldName="LastName" />

                        <DxGridDataColumn FieldName="FirstName" />

                        <DxGridDataColumn FieldName="LeefgroepenString" />

                    </Columns>
                    <EmptyDataAreaTemplate>
                       Nog geen cliënten geselecteerd.
                    </EmptyDataAreaTemplate>
                </DxGrid>
                
               
            </div>
            <br />
            @if (AllClientenButtonVisible)
            {
                <div class="row">
                    <DxCheckBox CheckType="CheckType.Switch" LabelPosition="LabelPosition.Right" Checked="@AllClientenToggleChecked" CheckedChanged="@((bool t) => OnAllClientenButtonClick())">Toon alle cliënten</DxCheckBox>
                </div>
            }
         
        
       
           
                <div class="row">
                <DxGrid Data="ClientenGridLower"
                        @ref="refClientenGridLower"
                        PageSize="10"
                        KeyFieldName="Id"
                        SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages"
                        AllowSort="false"
                             ShowFilterRow="true"
                        SelectedDataItems="SelectedClientenGridLower"
                        SelectedDataItemsChanged="OnSelectedDataItemsChangedLower"
                        ColumnResizeMode="GridColumnResizeMode.NextColumn"
                        TextWrapEnabled="false"
                        HighlightRowOnHover="true">
                    <Columns>
                        <DxGridSelectionColumn Width="104px" />
                        <DxGridDataColumn FieldName="LastName" />

                        <DxGridDataColumn FieldName="FirstName" />

                        <DxGridDataColumn FieldName="LeefgroepenString" />

                    </Columns>

                </DxGrid>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                    </div>
                    <div class="col-6 text-right">
                    @if (ClientenGridUpper.ToList().Count == 0)
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" disabled="disabled"><i class="fas fa-user-plus"></i> Cliënt(en) toevoegen</button>
                        }
                        else
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())"><i class="fas fa-user-plus"></i> Cliënt(en) toevoegen</button>
                        }
                    </div>
                </div>
            </div>
        </ChildContent>
    </DxPopup>
 