﻿@page "/meerkeuze/gebruikers/";
@inherits GebruikerPopupMultiModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;
@using OCBlazor.Services;
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
<style>
    .myPopupCss {
        max-width: 900px;
        max-height: 900px;
    }
</style>

<DxPopup HeaderText="Medewerker(s)" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())" @bind-Visible="PopupVisible">
    <ChildContent>
        <div class="container-fluid">
            <div class="row">
                <DxDataGrid Data=Gebruikers
                            @ref="gridRef"
                            KeyFieldName="Id"
                            SelectionMode="DataGridSelectionMode.OptimizedMultipleSelection"
                            SelectAllMode="DataGridSelectAllMode.AllPages"
                            OptimizedMultipleSelectionChanged="OnSelectionChanged"
                            ShowFilterRow="true"
                            @bind-MultipleSelectedDataRows=_selectedGebruikers
                            PageSize="10" ShowPager="true">
                    <DxDataGridSelectionColumn></DxDataGridSelectionColumn>
                    <DxDataGridColumn Field=@nameof(Gebruiker.LastName) Caption="Achternaam" SortIndex="0" SortOrder=DataGridColumnSortOrder.Ascending></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(Gebruiker.FirstName) Caption="Voornaam"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(Gebruiker.Workplace) Caption="Werkplaats"></DxDataGridColumn>
                </DxDataGrid>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                </div>
                <div class="col-6 text-right">
                    @if (_selectedGebruikers.ToList().Count == 0)
                    {
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" disabled="disabled"><i class="fas fa-user-plus"></i> Medewerker(s) toevoegen</button>
                    }
                    else
                    {
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())"><i class="fas fa-user-plus"></i> Medewerker(s) toevoegen</button>
                    }
                </div>
            </div>
        </div>
    </ChildContent>
</DxPopup>
 
