﻿@using OCBlazor.Services;
@page "/meerkeuze/kampen/";
@inherits KampenPopupMultiModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
<style>
    .myPopupCss {
        max-width: 900px;
    }
</style>
 
    <DxPopup @bind-Visible="@PopupVisible" HeaderText="Cliënten" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())">
        <ChildContent>
            <div class="container-fluid">
                <div class="row">
                    <DxDataGrid Data="@Kampen"
                                KeyFieldName="Id"
                                SelectionMode="DataGridSelectionMode.OptimizedMultipleSelection"
                                SelectAllMode="DataGridSelectAllMode.AllPages"
                                OptimizedMultipleSelectionChanged="OnSelectionChanged"
                                ShowFilterRow="true"
                                PageSize="10" ShowPager="true">
                        <DxDataGridSelectionColumn></DxDataGridSelectionColumn>
                        <DxDataGridColumn Field=@nameof(Kamp.Nr) Caption="Nr" SortIndex="0" SortOrder="@DataGridColumnSortOrder.Ascending"></DxDataGridColumn>
                        <DxDataGridColumn Field=@nameof(Kamp.Bestemming) Caption="Bestemming"></DxDataGridColumn>
                        <DxDataGridColumn Field=@nameof(Kamp.Wie) Caption="Wie"></DxDataGridColumn>
                        <DxDataGridColumn Field=@nameof(Kamp.Van) Caption="Van"></DxDataGridColumn>
                        <DxDataGridColumn Field=@nameof(Kamp.Tot) Caption="Tot"></DxDataGridColumn>

                    </DxDataGrid>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                    </div>
                    <div class="col-6 text-right">
                        @if (SelectedKamp.Count == 0)
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" disabled="disabled"><i class="fas fa-user-plus"></i> Cliënt(en) toevoegen</button>
                        }
                        else
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())"><i class="fas fa-user-plus"></i> Cliënt(en) toevoegen</button>
                        }
                    </div>
                </div>
            </div>
        </ChildContent>
    </DxPopup>
 