﻿@using OCBlazor.Services;
@page "/meerkeuze/leefgroepen/";
@inherits LeefgroepPopupMultiModel;
 
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;

    <style>
        .myPopupCss {
            max-width: 900px;
        }
    </style>
    <DxPopup @bind-Visible="@PopupVisible" HeaderText="Leefgroepen" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())">
        <ChildContent>
            <div class="container-fluid">
                <div class="row">
                    <DxDataGrid Data="@Leefgroepen"
                                KeyFieldName=@nameof(Leefgroep.Id)
                                SelectionMode="DataGridSelectionMode.OptimizedMultipleSelection"
                                SelectAllMode="DataGridSelectAllMode.AllPages"
                                ShowFilterRow="true"
                                OptimizedMultipleSelectionChanged="OnSelectionChanged">
                        <DxDataGridSelectionColumn></DxDataGridSelectionColumn>
                        <DxDataGridColumn Field=@nameof(Leefgroep.Name) Caption="Naam"></DxDataGridColumn>
                      
                         

                    </DxDataGrid>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                    </div>
                    <div class="col-6 text-right">
                        @if (SelectedLeefgroepen.Count == 0)
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" disabled="disabled"><i class="fas fa-user-plus"></i> Leefgroep(en) toevoegen</button>
                        }
                        else
                        {
                    <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())"><i class="fas fa-user-plus"></i> Leefgroep(en) toevoegen</button>
                        }
                    </div>
                </div>
            </div>
        </ChildContent>
    </DxPopup>
 