﻿@using OCBlazor.Services;
@page "/keuze/locatie/";

@inherits LocatiePopupModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
    <style>
        .myPopupCss {
            max-width: 900px;
        }
    </style>
 
    <DxPopup @bind-Visible="@PopupVisible" HeaderText="Locaties" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())">
        <ChildContent>
           
            <div class="container-fluid">
                <div class="row">
                    <LocatieBoom OnSelectedTreeItemChanged="@OnSelectedTreeItemChanged" Enabled="@Enabled"></LocatieBoom>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                    </div>
                    <div class="col-6 text-right">
                        @if (SelectedLocatie == null)
                        {
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" disabled="disabled"><i class="fas fa-user-plus"></i> OK</button>
                        }
                        else
                        {
                    <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())"><i class="fas fa-user-plus"></i> OK</button>
                        }
                    </div>
                </div>
            </div>
        </ChildContent>
    </DxPopup>




 