﻿@using OCBlazor.Services;
@page "/keuze/vraag/";

@inherits QuestionPopupModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;

 
    <DxPopup HeaderText="Cliënten"  @bind-Visible="@PopupVisible" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())">
        <HeaderTemplate>
         
                <h4>@Question</h4>
   
        </HeaderTemplate>
        <ChildContent>
            <div class="container-fluid">
        
                <div class="row">
                    <div class="col-6">
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">@NoButtonText</button>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())">@YesButtonText</button>
                    </div>
                </div>
            </div>
        </ChildContent>
    </DxPopup>
 