﻿@using OCBlazor.Services;


@inherits ReportPopupModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
<style>
    .myPopupCss {
        max-width: 900px;
    }
</style>
 
    <DxPopup HeaderText="@HeaderText" @bind-Visible="@PopupVisible" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnOkButtonClick())">
        <ChildContent>
          


            <div class="container-fluid">
                <div class="row">
                    <DxDocumentViewer ReportUrl="@ReportUrl" Height="1000px" Width="100%">
                        <DxDocumentViewerTabPanelSettings Width="180" />
                    </DxDocumentViewer>
                    
                </div>
                <div class="row">
                    <div class="col-6">
                       
                    </div>
                    <div class="col-6 text-right">
                       
                   
                            <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())">Sluiten</button>
                       
                    </div>
                </div>
            </div>


        </ChildContent>
    </DxPopup>
 

 