﻿@using OCBlazor.Services;
@inherits BijlageManagerModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;
 
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
@using Logic.DataBusinessObjects.BijlageManager;

 <QuestionPopup ActionYes="@OnQuestionDeleteYes" ActionNo="@OnQuestionDeleteNo" Question="@DeleteQuestionText" YesButtonText="Ja" NoButtonText="Neen" PopupVisible="@DeleteQuestionPopupVisible"></QuestionPopup>
 
@*<DxUpload Name="myFile" UploadUrl="@GetUploadUrl("api/Upload/UploadFile/")"
          AllowMultiFileUpload="true" MaxFileSize="15000000" FileUploaded="@((args) => OnFileUploaded(args))" SelectButtonText="Bijlage toevoegen">
</DxUpload>*@
 
<DxDataGrid DataRowCssClass="DevGridAlternateRowColor" SingleSelectedDataRow="@SelectedBijlage" Data="@Bijlages" PageSize=40 AllowDataRowSelection="true" AllowSort="false">
    <DxDataGridColumn Caption="" Width="30px">
        <DisplayTemplate>
            @{
                var bijlage = (context as Bijlage);

                <button @onclick="@(()=>DownloadFile(bijlage))" class="btn d-flex" title="Bestand downloaden" style="cursor: pointer; padding: 0p;"> <i class="fas fa-download"></i></button>
              
            }
        </DisplayTemplate>
    </DxDataGridColumn>
    <DxDataGridColumn Field=@nameof(Bijlage.FileName) Caption="Naam"></DxDataGridColumn>
    <DxDataGridColumn Field=@nameof(Bijlage.FileExtention) Caption="Extensie"></DxDataGridColumn>
    <DxDataGridColumn Field=@nameof(Bijlage.Creator) Caption="Uploader"></DxDataGridColumn>
    <DxDataGridDateEditColumn Field=@nameof(Bijlage.Creationdate) DisplayFormat="dd/MM/yyyy" Caption="Uploaddatum"></DxDataGridDateEditColumn>

    <DxDataGridColumn Caption="" Width="30px" Visible="@CanDelete">
        <DisplayTemplate>
            @{
                var bijlage = (context as Bijlage);

                <button @onclick="@(()=>DeleteBijlage_OpenQuestionPopup(bijlage))" class="btn d-flex" title="Bestand wissen" style="cursor: pointer; padding: 0p;"> <i class="fas fa-trash"></i></button>
            }
        </DisplayTemplate>
    </DxDataGridColumn>
</DxDataGrid>
<br />
 <div id="overviewDemoDropZone" class="custom-drop-zone">

    <span class="drop-file-icon mb-3"><i class="fas fa-upload" style="font-size: 32px"></i></span>
    <span>Laat bestanden hier vallen</span><span class="m-1">of</span>
    <button id="overviewDemoSelectButton" class="btn border-primary btn-primary m-1">Selecteer bestand(en)</button>
</div>
<DxUpload Name="myFile" ExternalSelectButtonCssSelector="#overviewDemoSelectButton" FileUploaded="@((args) => OnFileUploaded(args))"
          ExternalDropZoneCssSelector="#overviewDemoDropZone" MaxFileSize="15000000"
          ExternalDropZoneDragOverCssClass="custom-drop-zone-hover"
          UploadUrl="@GetUploadUrl("api/Upload/UploadFile/")"> 
</DxUpload> 
