﻿@using OCBlazor.Services;
@page "/LocatieBoom/";
@inherits LocatieBoomModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;


<input @bind="@FilterText"  />  
<DxTreeView Data="@Locaties" AllowSelectNodes="true" SelectionChanged="@TreeNodeSelectionChanged"
            TextExpression="@(dataItem => ((Locatie)dataItem).Naam)"
            ChildrenExpression="@(dataItem => ((Locatie)dataItem).Children)" Enabled="@Enabled">
</DxTreeView>

