@page "/LogoPageTitle"

    <div class="row">
        <div class="col-sm-6">  <img src="/Images/clarafeyapplogo.png" asp-append-version="true" height="120px"   /></div>
        <div class="col-sm-6" style="display:flex;justify-contents:center;align-items:center;" ><h1>@PageTitle</h1></div>
 
    </div>
 
@code {

    [Parameter]
    public String PageTitle { get; set; }
    
}
