﻿@inherits MultiSelectComponentModel;
@using OCBlazor.Services;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor; 
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
@using Logic.DataBusinessObjects.MultiSelectNS;

 
 <h3 style="font-weight: bold;" id="@("Anchor" + MultiSelect.Id)">
    <p>@MultiSelect.Title &nbsp;
    @if (!String.IsNullOrWhiteSpace(MultiSelect.ExtraInfo))
    {
        <i class="fas fa-info-circle fa-sm" style="color:#0000a0" title="@MultiSelect.ExtraInfo"></i>
    }
    </p>
</h3>

@if (MultiSelect.ChoiceType == "RADIO" || MultiSelect.ChoiceType == "COMBO")
 {
    <h5 style="font-style: italic;">1 selectie mogelijk</h5>

    <DxComboBox Data="@MultiSelect.Items.Where(x=>x.Show)" TextFieldName="Description" Value="@SelectMultiSelectItem" Enabled="IsEditable"
        ValueChanged="@((MultiSelectItem item) => OnComboBoxChanged(item))"></DxComboBox>
    if (SelectMultiSelectItem != null && SelectMultiSelectItem.IsOther)
    {
        <DxTextBox NullText="@(SelectMultiSelectItem.Description + "...")" Text="@SelectMultiSelectItem.Result.StringValue" Enabled="IsEditable"
            TextChanged="@((string s) => OnTextChangedAndere(s,SelectMultiSelectItem))" />
    } 
 }
else if (MultiSelect.ChoiceType == "CHECK")
{
    <h5 style="font-style: italic;">meerdere selecties mogelijk</h5>

    foreach (MultiSelectItem i in MultiSelect.Items)
    {
        <DxCheckBox CheckedChanged="@((bool IsChecked)=>OnCheckboxChanged(IsChecked,i))" Checked="i.Result.IsSelected" ValueChecked="true" ValueUnchecked="false" 
            Enabled="IsEditable">@i.Description</DxCheckBox>
        if (i.IsOther)
        {
            <DxTextBox NullText="@(i.Description + "...")" Text="@i.Result.StringValue" TextChanged="@((string s) => OnTextChangedAndere(s,i))" Enabled="IsEditable" />
        }
    }
}
else if (MultiSelect.ChoiceType == "DATE")
{
    MultiSelectItem textItem = MultiSelect.Items.FirstOrDefault();
    if (!textItem.Result.DateValue.HasValue)
    {
        textItem.Result.DateValue = DateTime.Today;
        OnDateChanged(DateTime.Today, textItem);
    }
    if (!MinDate.HasValue)
        MinDate = new DateTime(2020, 1, 1);
    if (!MaxDate.HasValue)
        MaxDate = new DateTime(2100, 1, 1);

    <DxDateEdit Mask="dd/MM/yyyy" NullText="Selecteer een datum" MinDate="MinDate.Value" MaxDate="MaxDate.Value" Date="textItem.Result.DateValue.Value" Enabled="IsEditable"
                DateChanged="@((DateTime date) => OnDateChanged(date, textItem))" FirstDayOfWeek="DayOfWeek.Monday" />
}
else if (MultiSelect.ChoiceType == "TIME")
{
    MultiSelectItem textItem = MultiSelect.Items.FirstOrDefault();
    if (!textItem.Result.DateValue.HasValue)
    {
        textItem.Result.DateValue = DateTime.Now;
        OnDateChanged(DateTime.Now, textItem);
    }
    <DxTimeEdit NullText="Selecteer een tijdstip" Time="textItem.Result.DateValue.Value" TimeChanged="@((DateTime date) => OnDateChanged(date, textItem))"
        Mask="HH:mm" ScrollPickerFormat="HH mm" Enabled="IsEditable"/>
}
else if (MultiSelect.ChoiceType == "TEXTAREA")
{
    MultiSelectItem textItem = MultiSelect.Items.FirstOrDefault();
    <DxMemo NullText="" Text="@textItem.Result.StringValue" Rows="5" TextChanged="@((string s) => OnTextOrEmailLostFocus(s,textItem))" Enabled="IsEditable" />
}
else if (MultiSelect.ChoiceType == "TEXT")
{
    MultiSelectItem textItem = MultiSelect.Items.FirstOrDefault();

    <DxTextBox NullText="" Text="@textItem.Result.StringValue" TextChanged="@((string s) => OnTextOrEmailLostFocus(s,textItem))"
        Enabled="IsEditable" />
}
else if (MultiSelect.ChoiceType == "EMAIL")
{
    MultiSelectItem textItem = MultiSelect.Items.FirstOrDefault();

    <DxMaskedInput  Mask="@EmailRegex" MaskMode="@MaskMode.RegEx" Value="@textItem.Result.StringValue" ValueChanged="@((string s) => OnTextOrEmailLostFocus(s,textItem))"
    Enabled="IsEditable" />
}
else if (MultiSelect.ChoiceType == "RANGSCHIK")
{
    <style>
         .custom-grid-rang {
             width: 602px;
             overflow-x: auto;
         }
    </style>
    
    <h5 style="font-style: italic;">Gelieve te rangschikken, 1 is het belangrijkste, 10 minst belangrijke reden.</h5>
    <br />

    <DxGrid Data="RangschikKolommen" PageSize="RangschikKolommen.Count" AllowGroup="false" AllowSort="false" EditMode="GridEditMode.EditCell" EditModelSaving="RangschikGrid_Saving"
            CssClass="custom-grid-rang">
        <Columns>
            <DxGridDataColumn Caption="Rang (1-10)" FieldName="Rang" Width="100px">
                <EditSettings>
                    <DxComboBoxSettings Data="AvailableNumberOptions" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"/>
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Naam" Caption="Reden vertrek" CaptionAlignment="GridTextAlignment.Center" AllowGroup="false" Width="500px" AllowSort="false" ReadOnly />
        </Columns>
    </DxGrid>
    if (ShowRangschikOther)
    {
        <DxTextBox NullText="@(RangschikOtherItem.Description + "...")" Text="@RangschikOtherItem.Result.StringValue" TextChanged="@((string s) => OnTextChangedAndere(s,RangschikOtherItem))"
            Enabled="IsEditable" />
    }
}
else if (MultiSelect.ChoiceType == "WAARDE")
{
    <style>
        .custom-grid-waarde {
            width: 1122px;
            overflow-x: auto;
        }
    </style>
    <DxGrid Data="BeoordelingsKolommen" PageSize="BeoordelingsKolommen.Count" AllowGroup="false" AllowSort="false" EditMode="GridEditMode.EditCell" EditModelSaving="WaardeGrid_Saving"
            CssClass="custom-grid-waarde">
        <Columns>
            <DxGridDataColumn Caption=" " FieldName="Naam" CaptionAlignment="GridTextAlignment.Center" AllowGroup="false" Width="500px" AllowSort="false" ReadOnly />
            <DxGridDataColumn Caption="Uitstekend" FieldName="Uitstekend" CaptionAlignment="GridTextAlignment.Center" AllowGroup="false" Width="100px" AllowSort="false">
                <EditSettings>
                    <DxCheckBoxSettings />
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Goed" FieldName="Goed" CaptionAlignment="GridTextAlignment.Center" AllowGroup="false" Width="100px" AllowSort="false">
                <EditSettings>
                    <DxCheckBoxSettings />
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Niet goed, maar ook niet slecht" FieldName="NietGoedNietSlecht" CaptionAlignment="GridTextAlignment.Center" AllowGroup="false" Width="220px" AllowSort="false">
                <EditSettings>
                    <DxCheckBoxSettings />
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Slecht" FieldName="Slecht" CaptionAlignment="GridTextAlignment.Center" AllowGroup="false" Width="100px" AllowSort="false">
                <EditSettings>
                    <DxCheckBoxSettings />
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Heel slecht" FieldName="HeelSlecht" CaptionAlignment="GridTextAlignment.Center" AllowGroup="false" Width="100px" AllowSort="false">
                <EditSettings>
                    <DxCheckBoxSettings />
                </EditSettings>
            </DxGridDataColumn>
        </Columns>
    </DxGrid>
}

 <label style="color:red;font-weight:bold">@MultiSelect.ErrorMessage</label>