﻿@using OCBlazor.Services;
@inherits MultipleDatesInputComponentModel;
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;
 
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
@using Logic.DataBusinessObjects.MultiSelectNS;
<style>
    .date-container {
        display: flex;
        gap: 10px; /* Adds space between the date inputs */
    }

    .DxDateEditStyle {
        /* Ensures the elements are inline */
        width: 320px;
    }
</style>

<div class="date-container">


    <DxDateEdit Id="dateInput1" @bind-Date="@SelectedDate1" MinDate="@MinDate" MaxDate="@MaxDate" CustomDisabledDate="@OnCustomDisabledDate"
                CssClass="DxDateEditStyle"
                InputId="deOverview" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />

    <DxDateEdit Id="dateInput2" @bind-Date="@SelectedDate2" MinDate="@MinDate" MaxDate="@MaxDate" CustomDisabledDate="@OnCustomDisabledDate"
                CssClass="DxDateEditStyle"
                InputId="deOverview" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />

    <DxDateEdit Id="dateInput3" @bind-Date="@SelectedDate3" MinDate="@MinDate" MaxDate="@MaxDate" CustomDisabledDate="@OnCustomDisabledDate"
                CssClass="DxDateEditStyle"
                InputId="deOverview" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />

 


</div>

<div class="date-container">

     
    <DxDateEdit Id="dateInput4" @bind-Date="@SelectedDate4" MinDate="@MinDate" MaxDate="@MaxDate" CustomDisabledDate="@OnCustomDisabledDate"
                CssClass="DxDateEditStyle"
                InputId="deOverview" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />

    <DxDateEdit Id="dateInput5" @bind-Date="@SelectedDate5" MinDate="@MinDate" MaxDate="@MaxDate" CustomDisabledDate="@OnCustomDisabledDate"
                CssClass="DxDateEditStyle"
                InputId="deOverview" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />

    <DxDateEdit Id="dateInput6" @bind-Date="@SelectedDate6" MinDate="@MinDate" MaxDate="@MaxDate" CustomDisabledDate="@OnCustomDisabledDate"
                CssClass="DxDateEditStyle"
                InputId="deOverview" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />




</div>