﻿@page "/externaldashboard";

@inherits ExternalDashboardModel;

@using OCBlazor.Services;
@using OCBlazor.PageModels;
@using OCBlazor.Pages
@using DevExpress.Blazor;
@using OCBlazor.Components;
@using Logic.ExternalDashboard;
@using Logic.DataBusinessObjects.ExternalDashboard;

<LogoPageTitle PageTitle="Dashboard"></LogoPageTitle>
@if (_documentatieFlyoutIsVisible)
{
    <DxFlyout @bind-IsOpen="_documentatieFlyoutIsVisible" PositionTarget="@("#btnDoc")"
              RestrictionTarget="#Navigation-Flyout-Overview"
              FitToRestriction=false
              CloseMode="FlyoutCloseMode.Close"
              HeaderVisible="true"
              HeaderText="Info"
              Width="800px"
              Height="500px"
              Scrollable="true"
              PreventCloseOnPositionTargetClick="false"
              Position=@(FlyoutPosition.BottomStart)>
        <BodyTextTemplate>
            <div>
                <p style="float: left;">Alle data komen uit de databank van Orbis. De personeelsaantallen zijn van Orbis Personeel en de uren aantallen zijn van Orbis Uurrooster. Deze cijfers kunnen licht afwijken voor medewerkers met een 40-urige werkweek.</p>
                <p style="float: left;">Alleen groepen met op zijn minst 1 voltijdse of deeltijdse medewerker zijn zichtbaar. De groepen "Gedetacheerden" en "Conventioneel brugpensioen" zijn niet zichtbaar</p>
                <table style="float: left;">
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Voltijds</div>
                        </td>
                        <td>
                            <div class="text-start">Alle voltijdse medewerkers van een bepaalde groep op basis van hun contractlijnen uit Orbis Personeel. Indien de optelling van alle contractlijnen 38/38 is, dan is deze medewerker voltijds</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Deeltijds</div>
                        </td>
                        <td>
                            <div class="text-start">Alle deeltijdse medewerkers van een bepaalde groep op basis van hun contractlijnen uit Orbis Personeel. Indien de optelling van alle contractlijnen minder dan 38/38 is, dan is deze medewerker deeltijds</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Aanwerving</div>
                        </td>
                        <td>
                            <div class="text-start">Alle aanwervingen van een groep binnen de geselecteerde periode op basis van hun contractlijnen uit Orbis Personeel. Indien de startdatum van het contract van de medewerker binnen de periode valt, dan is hij aangeworven</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Uit dienst</div>
                        </td>
                        <td>
                            <div class="text-start">Alle uitdiensten van een groep binnen de geselecteerde periode, ongeacht de reden, op basis van hun contractlijnen uit Orbis Personeel. Indien de einddatum van het contract van de medewerker binnen de periode valt, dan is hij uit dienst</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Ziekte</div>
                        </td>
                        <td>
                            <div class="text-start">Alle ziekte-uren voor een groep binnen de geselecteerde periode. Dit omvat de Orbis Uurrooster codes "ZI", "ZJ", "Z1", "Z2", "Z3"</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Arbeidsongeval</div>
                        </td>
                        <td>
                            <div class="text-start">Alle uren verloren door een arbeidsongeval voor een groep binnen de geselecteerde periode. Dit omvat de Orbis Uurrooster code "AO"</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Werkhervatting</div>
                        </td>
                        <td>
                            <div class="text-start">Alle medewerkers voor een groep die tewerkgesteld zijn met een werkhervormingscontract op basis van hun contractlijnen uit Orbis Personeel. Hiervoor wordt gekeken naar contractlijnen met een functiecode die "MUT" bevat en waar de baremacode "LEEG" is</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Vormingsuren extern</div>
                        </td>
                        <td>
                            <div class="text-start">Alle vormingsuren die extern worden gevolgd voor een groep binnen de geselecteerde periode. Dit omvat de Orbis Uurrooster codes "E1", "E2"</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Ziekte -1jaar</div>
                        </td>
                        <td>
                            <div class="text-start">Alle ziekte-uren minder dan 1 jaar durend voor een groep binnen de geselecteerde periode. Dit omvat de Orbis Uurrooster codes "ZI"</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Ziekte 1maand+</div>
                        </td>
                        <td>
                            <div class="text-start">Alle ziekte-uren meer dan 1 maand durend voor een groep binnen de geselecteerde periode. Dit omvat de Orbis Uurrooster codes "ZM"</div>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid black">
                        <td style="padding: 10px; font-weight:bold">
                            <div>Ziekte 1jaar+</div>
                        </td>
                        <td>
                            <div class="text-start">Alle ziekte-uren meer dan 1 jaar durend voor een groep binnen de geselecteerde periode. Dit omvat de Orbis Uurrooster codes "ZJ"</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px; font-weight:bold">
                            <div>Ziekte zonder briefje</div>
                        </td>
                        <td>
                            <div class="text-start">Alle ziekte-uren voor de "3x 1 dag ziek zonder briefje" regeling voor een groep binnen de geselecteerde periode. Dit omvat de Orbis Uurrooster codes "Z1", "Z2", "Z3"</div>
                        </td>
                    </tr>
                </table>
            </div>
        </BodyTextTemplate>
    </DxFlyout>
}

@if (ExternalDashboardMedewerkersList == null)
{
    <p><em>Loading Dashboard...</em></p>
}
else
{
    <style>
        .alt-item > td {
            background-color: rgba(0, 0, 0, 0.05);
        }
    </style>
 
    <DxToolbar>
        <Items>
            
            
          
            <DxToolbarItem BeginGroup="true" Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px">
                <Template>
                    <DxFormLayout>
                        <DxFormLayoutItem Caption="Van :" ColSpanMd="12">
                          
                              @if(ActiveTabIndex==0)
                            {
                                <DxDateEdit Date="@OrbisListDates.StartDate" DateChanged="@((DateTime newValue) => OnStartOrbisListDateChanged(newValue))" Format="M/yyyy" PickerDisplayMode="DatePickerDisplayMode.ScrollPicker" ScrollPickerFormat="M yyyy" />

                            }
                            else

                            {
                                <DxDateEdit Date="@OrbisChartDates.StartDate" DateChanged="@((DateTime newValue) => OnStartOrbisChartDateChanged(newValue))" Format="M/yyyy" PickerDisplayMode="DatePickerDisplayMode.ScrollPicker" ScrollPickerFormat="M yyyy" />
                            }
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </Template>
            </DxToolbarItem>
            <DxToolbarItem Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px">
                <Template>
                    <DxFormLayout>
                        <DxFormLayoutItem Caption="Tot :" ColSpanMd="12">

                            @if (ActiveTabIndex == 0)
                            {
                                <DxDateEdit Date="@OrbisListDates.EndDate" DateChanged="@((DateTime newValue) => OnEndOrbisListDateChanged(newValue))" Format="M/yyyy" PickerDisplayMode="DatePickerDisplayMode.ScrollPicker" ScrollPickerFormat="M yyyy" />

                            }
                            else

                            {
                                <DxDateEdit Date="@OrbisChartDates.EndDate" DateChanged="@((DateTime newValue) => OnStartOrbisChartDateChanged(newValue))" Format="M/yyyy" PickerDisplayMode="DatePickerDisplayMode.ScrollPicker" ScrollPickerFormat="M yyyy" />
                            }
                            
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </Template>
            </DxToolbarItem>
           @if (ActiveTabIndex == 0)
            {
                <DxToolbarItem Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px">
                    <Template>
                    <DxFormLayout>
                        <DxFormLayoutItem  ColSpanMd="12">
                        <DxButton CssClass="w-100" Context="b" 
                          Enabled="!IsLoadinggData"
                          Click="LoadData"
                          RenderStyle="ButtonRenderStyle.Primary">
                    <div class="d-flex">
                        <DxWaitIndicator Visible="IsLoadinggData"
                                        />
                        <span class="mx-2">OK</span>
                    </div>
                                </DxButton>
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </Template>
            </DxToolbarItem>
            }

            <DxToolbarItem BeginGroup="true" Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px" Visible="IsDashboardOrbisExportExcelVisible">
                <Template>
                    <DxButton Text="Export Excel"
                          Click="(()=>ExportXlsx_Click())" />
                </Template>
            </DxToolbarItem>
            <DxToolbarItem BeginGroup="true" Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px" Visible="IsDashboardOrbisColumnChooserVisible">
                <Template>
                    <DxButton Text="Kolommen kiezen" id="btnChooser"
                          RenderStyle="ButtonRenderStyle.Secondary"
                          IconCssClass="btn-column-chooser"
                          CssClass="column-chooser-button"
                          Click="ColumnChooserButton_Click" />
                </Template>
            </DxToolbarItem>
            <DxToolbarItem BeginGroup="true" Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px" Visible="IsDashboardOrbisColumnChooserVisible">
                <Template>
                    <DxButton Text="Info" id="btnDoc"
                              RenderStyle="ButtonRenderStyle.Secondary"
                              IconCssClass="fa fa-info-circle"
                              Click="DocumentatieButton_Click" />
                </Template>
            </DxToolbarItem>
        </Items>
    </DxToolbar>

    <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
        <DxTabPage Text="Orbis" TabIconCssClass="fa fa-list" >
            <DxGrid @ref="@MyGrid"
                Data="@ExternalDashboardMedewerkersList"
                SelectedDataItem="@SelectedExternalDashboardMedewerkers"
                ShowGroupPanel="false" ShowPager="true" ShowFilterRow="true"
                GroupFooterDisplayMode="GridGroupFooterDisplayMode.IfExpanded"
                KeyboardNavigationEnabled="true"
                PageSizeSelectorItems="@(new int[] {10, 15, 20, 30, 40, 50, 75, 100 })"
                PageSizeSelectorAllRowsItemVisible="true"
                PagerSwitchToInputBoxButtonCount="40"
                PagerVisibleNumericButtonCount="40"
                PageSize="40"
                PageSizeSelectorVisible="true"
                CustomizeElement="Grid_CustomizeElement"
                CustomizeCellDisplayText="Grid_CustomizeCellDisplayText"
                >
                <Columns>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.GroepCode) Caption="Groep"></DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.Voltijds) Caption="Voltijds"> </DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.Deeltijds) Caption="Deeltijds"></DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.Aanwerving) Caption="Aanwerving"></DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.UitDienst) Caption="UitDienst"></DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.Ziekte) Caption="Ziekte"  ></DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.Arbeidsongeval) Caption="Arbeidsongeval" DisplayFormat="n2"></DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.Werkhervatting) Caption="Werkhervatting"></DxGridDataColumn>
                    <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.VormingsurenExtern) Caption="Vormingsuren Extern"></DxGridDataColumn>
                </Columns>
                <DetailRowTemplate>
                    @{
                        List<ExternalDashboardMedewerkers> subList = new List<ExternalDashboardMedewerkers>()
                        {
                            (ExternalDashboardMedewerkers)context.DataItem
                        };
                    }
                    <DxGrid Data="@subList"
                            CustomizeCellDisplayText="SubGrid_CustomizeCellDisplayText">
                        <Columns>
                            <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.ZiekteMinderJaar) Caption="Ziekte -1jaar"></DxGridDataColumn>
                            <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.ZiekteMeerMaand) Caption="Ziekte 1maand+"> </DxGridDataColumn>
                            <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.ZiekteMeerJaar) Caption="Ziekte 1jaar+"> </DxGridDataColumn>
                            <DxGridDataColumn FieldName=@nameof(ExternalDashboardMedewerkers.ZiekteZonderBriefje) Caption="Ziekte Zonder Briefje"></DxGridDataColumn>
                        </Columns>
                    </DxGrid>
                </DetailRowTemplate>
                <TotalSummary>
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.Voltijds) SummaryType="GridSummaryItemType.Sum" />
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.Deeltijds) SummaryType="GridSummaryItemType.Sum" />
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.Aanwerving) SummaryType="GridSummaryItemType.Sum" />
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.UitDienst) SummaryType="GridSummaryItemType.Sum" />
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.Ziekte) SummaryType="GridSummaryItemType.Sum"   />
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.Arbeidsongeval) SummaryType="GridSummaryItemType.Sum" />
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.Werkhervatting) SummaryType="GridSummaryItemType.Sum" />
                    <DxGridSummaryItem FieldName=@nameof(ExternalDashboardMedewerkers.VormingsurenExtern) SummaryType="GridSummaryItemType.Sum" />
                </TotalSummary>
            </DxGrid>
        </DxTabPage>
        <DxTabPage Text="Orbis" TabIconCssClass="fa fa-chart-bar">
            <DxFormLayout CssClass="w-100">
                <DxFormLayoutGroup Caption="Groepen" ColSpanMd="3">
                    <DxFormLayoutItem ColSpanMd="12">
                        <div style="overflow-y:scroll; height:250px;">
                        <DxTreeView @ref="@treeView" Data="@ExternalDashboardMedewerkersList.GroupBy(p => p.GroepCode).Select(g => g.First()).ToList()"
                            CheckMode="TreeViewCheckMode.Recursive"
                            CheckAllVisible="true"   
                                    FilterMinLength="2"
                                    ShowFilterPanel="true"
                                    CheckedChanged="GroepCheckedChanged"
                            AnimationType="LayoutAnimationType.Slide"
                            CssClass="h-300">
                    <DataMappings>
                        <DxTreeViewDataMapping Text="GroepCode" IconCssClass="IconCssClass" />
                    </DataMappings>
                </DxTreeView>
                        </div>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>

                <DxFormLayoutGroup Caption="Data" ColSpanMd="3">
                    <DxFormLayoutItem ColSpanMd="12">
                        <InputSelect @bind-Value="OrbisChartParametersFilter.OrbisChartValue">
                            @foreach (var chartType in Enum.GetValues(typeof(OrbisChartValues)))
                            {
                                <option value="@chartType">@chartType</option>
                            }
                        </InputSelect>

                        <DxCheckBox CheckType="CheckType.Switch"
                                    LabelPosition="LabelPosition.Left"
                                    @bind-Checked="@OrbisChartParametersFilter.ResultSummed"
                                    
                                    Alignment="CheckBoxContentAlignment.SpaceBetween">
                           gesommeerd
                        </DxCheckBox>

                    </DxFormLayoutItem>
                </DxFormLayoutGroup>

                <DxFormLayoutGroup Caption="Grafiek" ColSpanMd="3">
                    <DxFormLayoutItem ColSpanMd="12">
                        <InputSelect @bind-Value="OrbisChartParametersFilter.OrbisChartType">

                            <option value="Line">Line</option>
                            <option value="Bar">Bar</option>

                        </InputSelect>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>


                <DxFormLayout ColSpanMd="3"  >
                    <DxFormLayoutItem ColSpanMd="12">

                        <DxButton CssClass="w-100" Context="b" style="margin-top: 25px;"
                          Enabled="!IsGeneratingChart"
                          Click="GenerateReportIncident"
                          RenderStyle="ButtonRenderStyle.Primary">
                    <div class="d-flex">
                        <DxWaitIndicator Visible="IsGeneratingChart"
                                        />
                        <span class="mx-2">Grafiek genereren</span>
                    </div>
                </DxButton>

                     @*   <button type="button" class="btn btn-lg btn-success" style="margin-top: 50px;" @onclick="@(() => GenerateReportIncident())">Grafiek genereren</button>*@
                    </DxFormLayoutItem>
                </DxFormLayout>

 
      
                <DxFormLayoutGroup  ColSpanMd="12" Id="show-panel">
                    <HeaderContentTemplate>
            
            <div class="demo-unemployed-checkbox-container">

                            <DxCheckBox @bind-Checked="@OrbisChartParameters.ShowLabels">Labels tonen</DxCheckBox>
                        </div>
        </HeaderContentTemplate>
        <Items>
                  
             

                    
                        <DxChart Data="@OrbisChartResultList.OrderBy(x=>x.DayDate)" Width="100%" LabelOverlap="ChartLabelOverlap.Hide" >

                            <DxChartTitle Text="@OrbisChartParameters.OrbisChartValue.ToString()" />
                        
                @foreach (String orbisgroep in OrbisChartParameters.OrbisGroepToChart)
                {

                    if (OrbisChartParameters.OrbisChartType == "Line")
                    {
                           <DxChartLineSeries Name="@orbisgroep"  
                               T="OrbisChartResult"
                               TArgument="DateTime"
                               TValue="double"
                               ArgumentField="si => new DateTime(si.DayDate.Year, si.DayDate.Month, 1)"
                               ValueField="si => si.Aantal"
                               SummaryMethod="Enumerable.Sum"
                               Filter="si => si.OrbisGroep == orbisgroep"
                               HoverMode="ChartContinuousSeriesHoverMode.None" >
                    <DxChartSeriesPoint HoverMode="ChartSeriesPointHoverMode.None" Visible=true />
                                    <DxChartSeriesLabel Position="RelativePosition.Outside" FormatPattern="{argument:MMMM yyyy}: {value:#####}" Visible="@OrbisChartParameters.ShowLabels" />
                        </DxChartLineSeries>
                    }

                    if (OrbisChartParameters.OrbisChartType == "Bar")
                    {
                        <DxChartBarSeries Name="@orbisgroep"
                               T="OrbisChartResult"
                               TArgument="DateTime"
                               TValue="double"
                               ArgumentField="si => new DateTime(si.DayDate.Year, si.DayDate.Month, 1)"
                               ValueField="si => si.Aantal"
                               SummaryMethod="Enumerable.Sum"
                               Filter="si => si.OrbisGroep == orbisgroep"
                              >

                        <DxChartSeriesPoint HoverMode="ChartSeriesPointHoverMode.None" Visible=true />
                                    <DxChartSeriesLabel Position="RelativePosition.Outside" FormatPattern="{argument:MMMM yyyy}: {value:#####}" Visible="@OrbisChartParameters.ShowLabels" />
                    </DxChartBarSeries>
                    }
                }
                <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
                <DxChartTooltip Enabled="true" Context="xxx">
                    @xxx.Point.Render((seriesPoint) =>
                    @<div style="margin: 0.75rem">
                        <div>@seriesPoint.SeriesName</div>
                        <span>@($"{seriesPoint.Argument: MMMM yyyy}: ")</span>
                                    <span>@($"{seriesPoint.Value :#####} {OrbisChartParameters.OrbisChartValue.ToString()}")</span>
                    </div>
                )
                </DxChartTooltip>

            </DxChart> 
         
                    </Items>
      </DxFormLayoutGroup>
            </DxFormLayout>
        </DxTabPage>
    </DxTabs>
}
