﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/clientenoverzicht";

@inherits ClientenoverzichtModelModel;
@using OCBlazor.Pages
@using DevExpress.Blazor;

@using OCBlazor.Components;

<LogoPageTitle PageTitle="Cliëntenoverzicht"></LogoPageTitle>

@if (ClientenVisual == null)
{
    <p><em>Loading...</em></p>
}
else
{
<DxDataGrid Data=@ClientenVisual PageSize="1000"  ShowGroupPanel="true" ShowPager="true" ShowFilterRow="true">
    <DxDataGridColumn Field=@nameof(ClientOverzichtClass.FirstName) Caption="Voornaam"></DxDataGridColumn>
    <DxDataGridColumn Field=@nameof(ClientOverzichtClass.LastName) Caption="Achternaam"></DxDataGridColumn>
    <DxDataGridColumn Field=@nameof(ClientOverzichtClass.LeefgroepNaam) Caption="Leefgroep"></DxDataGridColumn>
    <DxDataGridDateEditColumn Field=@nameof(ClientOverzichtClass.OpenameEinde) Caption="Einde opname">
        <DisplayTemplate>
            @{

                var c = (context as ClientOverzichtClass);
                if (c.OpenameEinde.HasValue)
                {
                  @c.OpenameEinde.Value.ToString("dd/MM/yyyy");
                }
            }
        </DisplayTemplate>

    </DxDataGridDateEditColumn>
 
</DxDataGrid>



}
