/* The sidepanel menu */
.sidepanel {
    height: auto; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 205px;
    background-color: darkgray; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 25px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidepanel */
}

    /* The sidepanel links */
    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.5s;
    }

        /* When you mouse over the navigation links, change their color */
        .sidepanel a:hover {
            color: #f1f1f1;
        }

    /* Position and style the close button (top right corner) */
    .sidepanel .closebtn {
        position: absolute;
        top: -9px;
        right: 5px;
        font-size: 18px;
        font-weight: bold;
        margin-left: 5px;
        cursor: pointer;
        color: white;
    }

    .sidepanel .sidepaneltext {
        position: absolute;
        top: 2px;
        align-content: center;
        font-size: 15px;
        font-weight: normal;
        margin-left: 20px;
        cursor: pointer;
        color: white;
    }

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 15px;
    cursor: pointer;
    background-color: darkgrey;
    color: white;
    padding: 2px 4px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

.sidepanel_left {
    left: 0;
}

.sidepanel_right {
    right: 0;
}

.leftOpener {
    width: auto;
    height: 20px;
    position: fixed;
    top: 206px;
    bottom: auto;
    right: auto;
    left: 0px;
}

.rightOpener {
    width: auto;
    height: 20px;
    position: fixed;
    top: 206px;
    bottom: auto;
    right: 0px;
    left: auto;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotate70 {
    -webkit-transform: rotate(70eg);
    -moz-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    transform: rotate(70deg);
}

.rotate30 {
    -webkit-transform: rotate(30eg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.rotate110 {
    -webkit-transform: rotate(110eg);
    -moz-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    transform: rotate(110deg);
}
