
.DevGridAlternateRowColor:nth-child(odd) {
    background-color: azure;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.form-check-input[type="checkbox"] {
    border-radius: 1em;
    width: 1.4em;
    height: 1.4em;
}

.dx-datagrid {
    font: 14px verdana;
}

.spinner {
    border: silver solid 16px;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

.verklaringCheckbox {
    transform: scale(2,2);
    margin-left: 70px;
    margin-top: 20px;
}

.custom-drop-zone {
    padding: 0 !important;
    border-style: dashed;
    border-width: 5px !important;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    padding-top: 20px;
    padding-bottom: 20px;

}

    .custom-drop-zone.custom-drop-zone-hover {
        border-style: solid;
        background-color: lightgrey;
        padding-top: 20px;
        padding-bottom: 20px;
    }

.custom-drop-zone svg {
        width: 42px;
        height: 42px;
 }

.custom-drop-zone > *:not(#overviewDemoSelectButton) {
        pointer-events: none;
    }
