﻿@page "/MaaltijdlijstenAdministratie";

@using DevExpress.CodeParser
@using OCBlazor.Services;
@using OCBlazor.PageModels;
@using OCBlazor.Pages;
@using OCBlazor.Pages.Popups;
@using DevExpress.Blazor;
@using OCBlazor.Components;
@using OCBlazor.Components.Maaltijdlijsten;
@using Logic.DataBusinessObjects.Maaltijdlijsten;
@using Microsoft.AspNetCore.Components.Web
@using OCBlazor.Models;
@using Database.DataAccessObjects;
 
@inherits MaaltijdlijstenAdministratiePageModel;


<LogoPageTitle PageTitle="Maaltijdlijsten Administratie"></LogoPageTitle>

<DxDateEdit  @bind-Date="@StartDate" CssClass="cw-320" InputId="deOverview" />

 <DxListBox Data="@Reports.Items"
            TextFieldName="@nameof(MaaltijdLijstenReportItem.Naam)"
            SelectionMode="ListBoxSelectionMode.Multiple"
            ShowCheckboxes="true"
            CssClass="w-auto mt-1 me-1 flex-grow-1 chi-300"
            style="height: 230px !important"
            @bind-Values="@SelectedReports" />

<button type="button" class="btn btn-success" @onclick="@GetMaaltijdLijstenAdministratie"><i class="fas fa-save"></i> Rapporten maken</button>
