﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/Maaltijdlijsten";
 
@inherits MaaltijdlijstenPageModel;
@using OCBlazor.Pages;
@using OCBlazor.Pages.Popups;
@using DevExpress.Blazor;
@using OCBlazor.Components;
@using OCBlazor.Components.Maaltijdlijsten;
@using Logic.DataBusinessObjects.Maaltijdlijsten;
@using Microsoft.AspNetCore.Components.Web
@using OCBlazor.Models;
@using Database.DataAccessObjects;

 
    <LogoPageTitle PageTitle="Maaltijdlijsten"></LogoPageTitle>



    <DxDateEdit  @bind-Date="@StartDate"
                 
                   CssClass="cw-320"
                   InputId="deOverview" />
<!--<button type="button" class="btn btn-success" @onclick="@GetMaaltijdLijsten"><i class="fas fa-save"></i> OK</button>-->


 <DxListBox Data="@Reports.Items"
               TextFieldName="@nameof(MaaltijdLijstenReportItem.Naam)"
               SelectionMode="ListBoxSelectionMode.Multiple"
               ShowCheckboxes="true"
               CssClass="w-auto mt-1 me-1 flex-grow-1 chi-300"
               style="height: 230px !important"
               @bind-Values="@SelectedReports"
                >
</DxListBox>
 

       
    <button type="button" class="btn btn-success" @onclick="@GetMaaltijdLijsten"><i class="fas fa-save"></i> Rapporten maken</button>

@*     <MaaltijdLijstenReportItem ReportTitle="Leefgroepen Totalen"></MaaltijdLijstenReportItem> *@

@* 
    <DxPdfViewer CssClass="w-100 pdf-viewer" DocumentContent="@DocumentContent" />
     *@  


