﻿@page "/"

@namespace OCBlazor.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

@functions {
    string CsrfToken => antiforgery.GetAndStoreTokens(HttpContext).RequestToken;  
}  
  

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OCBlazor</title>
    <base href="~/" />
    <link href="_content/Sotsera.Blazor.Toaster/toastr.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="~/css/site.css" /> 
    <link rel="stylesheet" href="~/css/kasbeheer.css" /> 
    <link rel="stylesheet" href="~/css/SidePanel.css" />
    <link rel="stylesheet" href="~/css/werkbonnenbeheer.css" />
    <link rel="stylesheet" href="~/css/fontawesome_5_10_2/css/all.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
 
    <script src="~/interop.js"></script>
      <link href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.bs5.css">


</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>
    <script src="_framework/blazor.server.js"></script>
@*    <script>
        Blazor.start().then(() => {
            Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
                document.location.reload();
            }
        });
    </script>*@
</body>
</html>