﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/testpage";

@inherits TestPageModel;
@using OCBlazor.Pages
@using DevExpress.Blazor;


@using OCBlazor.Models;
@using Logic;
@using Logic.DataBusinessObjects;
@using OCBlazor.Pages.Popups;
@using OCBlazor.Components;
@using Logic.Modules;
<LogoPageTitle PageTitle="Test Page"></LogoPageTitle>




@*<BijlageManagerPopup Id="160" Module="ModuleType.WERKOPDRACHT"></BijlageManagerPopup>

<i class="fas fa-download" @onclick="@(()=>DownloadWerkbonReport(999))"></i>*@


<i @onclick="@(()=>SaveSettings(1))"> Save 1</i>
<i @onclick="@(()=>SaveSettings(2))"> Save 2</i>
<i @onclick="@(()=>SaveSettings(3))"> Save 3</i>


<i @onclick="@(()=>LoadSettings(1))"> Load 1</i>
<i @onclick="@(()=>LoadSettings(2))"> Load 2</i>
<i @onclick="@(()=>LoadSettings(3))"> Load 3</i>

<div class="align-self-end pl-2 pb-2">
    <DxButton Text="Column Chooser"
              RenderStyle="ButtonRenderStyle.Secondary"
              IconCssClass="btn-column-chooser"
              CssClass="column-chooser-button"
              Click="@OnClickColumnChooser" />
</div>
<DxGrid @ref="Grid"
        Data="@GOGLijst"
        ShowGroupPanel="true"
        ShowFilterRow="true"
       
        PageSizeSelectorVisible="true"
        PageSizeSelectorAllRowsItemVisible="true"
        PageSizeSelectorItems="@(new int[] { 5,10,20 })"
        ShowSearchBox="true"
        CustomizeCellDisplayText="Grid_CustomizeCellDisplayText"
        CustomizeElement="Grid_CustomizeElement"
        EditorRenderMode="GridEditorRenderMode.Integrated"
        AllowGroup="true"
        AllowSort="true">
    <Columns>
        <DxGridDataColumn FieldName="Id" Caption="Id" MinWidth="200" AllowGroup="false">   </DxGridDataColumn>
        <DxGridDataColumn FieldName="CreationDate" Caption="Date" MinWidth="200" AllowGroup="false">
            <FilterRowCellTemplate>
                <DxDateEdit Date="(DateTime?)context.FilterRowValue"
                            DateChanged="(DateTime? v) => context.FilterRowValue = v" />
            </FilterRowCellTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="ModifierVoornaamAchternaam" Caption="Modifier" MinWidth="200" AllowGroup="false"></DxGridDataColumn>
        <DxGridDataColumn FieldName="Leefgroep.Id" Caption="Leefgroep" MinWidth="200" AllowGroup="true" FilterRowOperatorType="GridFilterRowOperatorType.Equal">
            <FilterRowCellTemplate>
                <DxComboBox Value="(string)context.FilterRowValue"
                            ValueChanged="(string v) => context.FilterRowValue = v"
                            Data="MyLeefgroepen" ValueFieldName="Id" TextFieldName="DisplayText"
                            FilteringMode="DataGridFilteringMode.Contains"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
            </FilterRowCellTemplate>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="Client.FirstNameLastname" Caption="Leefgroep" MinWidth="200" AllowGroup="false">   </DxGridDataColumn>
        
    </Columns>
 
</DxGrid>