﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/kasbeheer";
@page "/kasbeheer/{LeefgroepId:int}";
@inherits KasBeheerPageModel;
@using OCBlazor.Pages
@using OCBlazor.Pages.Popups

@using DevExpress.Blazor;
@using OCBlazor.Components;
@using Microsoft.AspNetCore.Components.Web
@using OCBlazor.Models;
@using Database.DataAccessObjects;
@using OCBlazor.Pages.Popups;

@if (ClientenPopupIsVisible)
{
    <ClientenPopup ActionOnClose="@OnActionOnClose" PopupVisible="@ClientenPopupIsVisible"></ClientenPopup>
}
@if (QuestionPopupVisible)
{
    <QuestionPopup ActionYes="@DeleteItem" ActionNo="@OnQuestionNo" Question="Wenst u deze transactie te verwijderen ?" YesButtonText="Ja" NoButtonText="Neen" PopupVisible="@QuestionPopupVisible"></QuestionPopup>
}

@if (LeefgroepItemsVisual.Count == 0)
{
    <LogoPageTitle PageTitle="Kasbeheer"></LogoPageTitle>
    <br />
    <hr />
    <h2>U heeft geen leefgroep toegewezen gekregen.</h2>
    <h4>Gelieve u te melden bij de verantwoordelijke voor het rechtenbeheer</h4>
    return;
}
<div class="container-fluid">
    <LogoPageTitle PageTitle="Kasbeheer"></LogoPageTitle>
    <div class="row" Style="margin-bottom:20px">
        <div class="col-md-6">
            @if (@EditMode == false)
            {
                <button type="button" class="btn btn btn-secondary" title="nieuwe transactie toevoegen" @onclick="@AddNewTransaction"><i class="fas fa-plus"></i>@($"Transactie toevoegen")</button>
            }
        </div>
        <div class="col-md-6">
            <h2>@SelectedLeefgroepAndTotalAmountAllAccounts</h2>
            <select class="form-control " style="width:20em" @bind="SelectedLeefgroepId" id="leefgroep" name="leefgroep" disabled="@EditMode">
                @foreach (var lfg in LeefgroepItemsVisual)
                {
                    <option value="@lfg.Id">@lfg.Name</option>
                }
            </select>
        </div>
    </div>
    @if (EditMode == false)
    {
        <DxTabs @bind-ActiveTabIndex=@ActiveTabIndex>
            @foreach (var rek in KasbeheerRekeningen)
            {
                <DxTab Text="@rek.Name"> </DxTab>
            }
        </DxTabs>
        <div class="card dxbs-border-top-0 dxbs-border-radius-top-0">
            <div class="card-body">
                <h4><text>Totaal @KasbeheerRekeningen[ActiveTabIndex].BedragEuro</text></h4>
                <DxDataGrid    ShowFilterRow="true"  ShowGroupPanel="true" DataRowCssClass="DevGridAlternateRowColor" Data="@TransactieItemsVisual.Where(x => x.Rekening.Id == KasbeheerRekeningen[ActiveTabIndex].Id).OrderByDescending(x=>x.Id)" PageSize=40 AllowDataRowSelection="true" AllowSort="true">
                    <DxDataGridColumn Caption="" Width="60px">
                        <DisplayTemplate>
                            @{
                                KasbeheerTransactieCM transactie = (context as KasbeheerTransactieCM);

                                @if (transactie.Afgerekend == true)
                                {

                                    <button @onclick="@(() => UpdateSelectedTransaction(transactie))" class="btn d-flex align-items-center justify-content-center" title="afgesloten transactie bekijken" style="cursor: pointer;"><i class="fa fa-lock fa-xs"></i></button>
                                }
                                else
                                {
                                    <button @onclick="@(() => UpdateSelectedTransaction(transactie))" class="btn d-flex align-items-center justify-content-center" title="transactie wijzigen" style="cursor: pointer;"><i class="fa fa-edit fa-xs"></i></button>
                                }
                            }
                        </DisplayTemplate>
                    </DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(KasbeheerTransactieCM.UniqueNr)  Caption="Nr."></DxDataGridColumn>
                    <DxDataGridDateEditColumn Field=@nameof(KasbeheerTransactieCM.TransactieDatumDag)  DisplayFormat="dd/MM/yyyy" Caption="Datum"></DxDataGridDateEditColumn>
                    <DxDataGridColumn Field=@nameof(KasbeheerTransactieCM.TransactieOmschrijving) Caption="Omschrijving"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(KasbeheerTransactieCM.TransactieBedrag) Caption="Bedrag"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(KasbeheerTransactieCM.TransactieTypeName) Caption="Type"></DxDataGridColumn>
                </DxDataGrid>
         
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-4">
                <label for="Datum">Datum</label>
                <DxDateEdit @bind-Date="InputItem.Transactie.TransactieDatum" Format="dd/MM/yyyy"></DxDateEdit>

            </div>
            <div class="col-6">
              
 <label for="Type">Type</label>
<select class="form-control" @onchange="@TransactieTypeChanged" style="width:15em" required id="Type">
    <option value="" disabled selected>Kies een type</option>
    @foreach (KasbeheerTransactieType t in KasbeheerTransactieTypes)
    {
        if (InputItem.Transactie.TransactieType.Id == t.Id)
        {
            <option selected value="@t.Id">@t.Name</option>
        }
        else
        {
            <option value="@t.Id">@t.Name</option>
        }
    }
</select>
 
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="Rekening">Rekening</label>
                <select class="form-control" style="width:15em" @bind="InputItem.Transactie.Rekening.Id" required id="Rekening" disabled>
                    <option value="" disabled selected>Kies een rekening</option>
                    @foreach (KasbeheerRekening rek in KasbeheerRekeningen)
                    {
                        <option value="@rek.Id">@rek.Name</option>
                    }
                </select>
            </div>
            <div class="col-6">
                <label for="Codering">Codering</label>

                @if (InputItem.Transactie.TransactieType.IsClientBased)
                {
                    <select class="form-control" style="width:15em" @bind="InputItem.Transactie.TransactieCode.Kode" required id="Rekening">
                        <option value="" disabled selected>Kies een code</option>

                        @foreach (KasbeheerTransactieCodering rek in TransactieCoderingenVisual.Where(x => x.IsClientBased).ToList())
                        {
                            <option value="@rek.Kode">@rek.Name</option>
                        }
                    </select>
                }
                else
                {
                    <select class="form-control" style="width:15em" @bind="InputItem.Transactie.TransactieCode.Kode" required id="Rekening">
                        <option value="" disabled selected>Kies een code</option>

                        @foreach (KasbeheerTransactieCodering rek in TransactieCoderingenVisual.Where(x => x.IsClientBased == false).ToList())
                        {
                            <option value="@rek.Kode">@rek.Name</option>
                        }
                    </select>
                }





            </div>
            <div class="col-4"></div>
        </div>


        <div class="row">

            <div class="col-4">
                <label for="StortenOfAfghalen">Inkomsten / Uitgaven</label>
                <select class="form-control" style="width:15em" @onchange="@StortenOfAfhalenChanged" required id="StortenOfAfghalen">
                    @foreach (String s in KasbeheerStortenOfAfhalen)
                    {
                        <option value="@s">@s</option>
                    }
                </select>
            </div>

            <div class="col-4">
                <label for="transactieBedrag">Bedrag</label>
                <div class="input-group">
                    <input type="text" style="text-align:right;" size="8" @bind="InputItem.TransactieBedrag" step=".01" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-euro-sign fa-xs"></i></span>
                    </div>
                </div>

                @if (/*InputItem.StortenOfAfhalen == "uitgaven" &&*/ InputItem.Transactie.TransactieType.IsClientBased)
                {
                    <label>Nog toe te wijzen : @InputItem.Transactie.GetClientenAmountLeftToAssign()</label>
                }
            </div>
        </div>
        <div class="row">


            <div class="col-12">
                <label for="Omschrijving">Omschrijving</label>
                <input type="text" class="form-control" required id="Omschrijving" @bind="InputItem.Transactie.TransactieOmschrijving" maxlength="60" placeholder="" />
            </div>
        </div>
        <hr />
        @if (InputItem.Transactie.TransactieType != null && InputItem.Transactie.TransactieType.IsClientBased /*&& InputItem.StortenOfAfhalen == "uitgaven"*/)
        {
            <div class="row">
                <div class="col-12">

                    <button type="button" class="btn btn btn-secondary" title="Cliënt toevoegen" @onclick="@ButtonAddClientClick"><i class="fas fa-user-plus"></i> @($"Cliënt toevoegen")</button>
                    @foreach (KasbeheerTransactieClientInfo client in InputItemClienten.OrderBy(x => x.LastName))
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col">@client.LastName</div>
                                <div class="col">@client.FirstName</div>

                                <div class="col">
                                    <div class="input-group">
                                        <input type="text" style="text-align:right;" size="8" @bind="@client.Bedrag" />
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-euro-sign fa-xs"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
        <div class="row">
            <div class="col-3">
                <button type="button" class="btn btn-secondary" @onclick="@CancelClicked">Annuleren</button>
            </div>
            <div class="col-6">
                @if (InputItem.Transactie.Id != 0 && InputItem.Transactie.Afgerekend == false)
                {
                    <button type="button" class="btn btn-danger" @onclick="@(() => QuestionPopupVisible=true)"><i class="fas fa-trash"></i> Verwijderen</button>
                }
            </div>
            <div class="col-3">
                @if (InputItem.Transactie.Afgerekend == false)
                {
                    <button type="button" class="btn btn-success" @onclick="@SaveItem"><i class="fas fa-save"></i> Opslaan</button>
                }
            </div>

        </div>


    }
</div>



