﻿@using OCBlazor.Services;
@page "/kilometervergoeding/save/";

@inherits KilometervergoedingSavePopupModel;
@using OCBlazor.Pages.Kilometervergoeding
@using DevExpress.Blazor;
@using DevExpress.Blazor.ComboBox;
@using OCBlazor.Pages.Popups
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
@using Logic.DataBusinessObjects.Kilometervergoeding;
<style>
    .myPopupCss {
        max-width: 900px;
    }
</style>

@if (PopupVisible)
{



    <DxPopup HeaderText="Kilometeringave" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())">
        <ChildContent>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-2">
                        <label for="Datum">Datum v.d. rit</label>
                    </div>
                    <div class="col-2">
                        <DxDateEdit @bind-Date="EditedKilometer.DatumRit" Format="dd/MM/yyyy"></DxDateEdit>
                    </div>
              
                </div>
                <div class="row">

                    <div class="col-2">
                        <label for="Wagen">Vervoerwagen</label>
                    </div>

                    <div class="col-4">
                        <DxComboBox Data="@Wagens" TData="Wagen" TValue="Wagen"
                                    TextFieldName="@nameof(Wagen.Naam)"
                                    @bind-value="@EditedKilometer.Wagen" SelectedItemChanged="@SelectedWagenChanged" />
                    </div>


            
                    


                </div>
                <div class="row">


                    <div class="col-2">
                        <label for="Type">Type</label>
                    </div>

                    <div class="col-4">

                        <DxComboBox Data="@KilometerTypes" TData="KilometerType" TValue="KilometerType"
                                    TextFieldName="@nameof(KilometerType.Name)"
                                    @bind-value="@EditedKilometer.KilometerType" SelectedItemChanged="@SelectedTypeChanged"   />
                    </div>
 



                </div>

                <div class="row">

                    <div class="col-2">
                        <label for="Reden">Reden W</label>
                    </div>

                    <div class="col-10">
                        <DxComboBox Data="@Redenlijst"
                                  
                                    @bind-Value="EditedKilometer.Reden"
                                     FilteringMode="DataGridFilteringMode.Contains" AllowUserInput="true"
                                    @bind-Text="EditedKilometer.Reden"
                                      
                                    >
                        </DxComboBox>
                    </div>

                    
                </div>
                <div class="row">

                    <div class="col-2">
                        <label for="Route">Route</label>
                    </div>

                    <div class="col-10">
                        <DxComboBox Data="@Routelijst"
                                    @bind-Value="EditedKilometer.Reisroute"
                                    FilteringMode="DataGridFilteringMode.Contains" AllowUserInput="true"
                                    @bind-Text="EditedKilometer.Reisroute">
                        </DxComboBox>
          

                    </div>
                  
                </div>
                <div class="row">
                    @if (EditedKilometer.IsBeginEindStand())
                    {

                        <div class="col-2">
                            <label for="beginstand">beginstand</label>
                        </div>
                        <div class="col-2">
                            <DxSpinEdit @bind-Value="@EditedKilometer.Beginstand"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        BindValueMode="BindValueMode.OnInput"
                                        NullText="Geef een getal in ..."/>
                                @*<input type="text" class="form-control" required id="beginstand" @bind="SelectedKilometer.Beginstand" maxlength="60" placeholder="" />*@
</div>
                        <div class="col-2">
                            <label for="eindstand">eindstand</label>
                        </div> <div class="col-2">
                            
                            <DxSpinEdit @bind-Value="@EditedKilometer.Eindstand"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        BindValueMode="BindValueMode.OnInput"
                                        NullText="Geef een getal in ..." />   
                    </div>
                        <div class="col-2">
                            <label for="kilometers">kilometers</label>
                        </div> <div class="col-2">
    <DxSpinEdit @bind-Value="@EditedKilometer.Kilometers"
                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                BindValueMode="BindValueMode.OnInput"
                NullText="Geef een getal in ..." ReadOnly="true" />
 
</div>
                    }
                    else
                    {
                        <div class="col-2">
                            <label for="kilometers">kilometers</label>
                        </div> <div class="col-2">
                                   <DxSpinEdit @bind-Value="@EditedKilometer.Kilometers"
                                               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                               BindValueMode="BindValueMode.OnInput"
                                               NullText="Geef een getal in ..." ReadOnly="false" />
                        </div>
                    }

                </div>

                <div class="row">
                    <div class="col-12 text-right">
                        @if (EditedKilometer.KilometerType.Code == "CLIENT")
                        {
                            <button type="button" style="        width: 200px;
        margin-top: 10px" class="btn btn-secondary" @onclick="@(() => OnOpenClientPopup())">
                                Cliënt(en) toevoegen
                            </button>
                        }
                        @if (EditedKilometer.KilometerType.Code == "LFGR")
                        {
                            <button type="button" style="width:200px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnOpenLeefgroepPopup())">Leefgroep(en) toevoegen</button>
                        }
                        @if (EditedKilometer.KilometerType.Code == "KAMP")
                        {
                            <button type="button" style="width:200px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnOpenKampPopup())">Kamp toevoegen</button>
                        }
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul style="columns: 4; -webkit-columns: 4; -moz-columns: 4; list-style-type:none">

                                @if (EditedKilometer.KilometerType.Code == "CLIENT")
                                {
                                    foreach (Client c in EditedKilometer.Clienten)
                                    {
                                        <li>
                                            @c.FirstNameLastname
                                            <button @onclick="@(() => DeleteClient(c))" class="btn d-flex align-items-center justify-content-center" title="cliënt verwijderen" style="cursor: pointer;"><i class="fa fa-trash fa-xs"></i></button>
                                        </li>
                                    }
                                    @if (EditedKilometer.Clienten.Count == 0)
                                    {
                                        <p>nog geen cliënt(en) geselecteerd</p>
                                    }
                                }

                                @if (EditedKilometer.KilometerType.Code == "LFGR")
                                {
                                    foreach (Leefgroep lfg in EditedKilometer.Leefgroepen)
                                    {
                                        <li>
                                            @lfg.Name
                                            <button @onclick="@(() => DeleteLeefgroep(lfg))" class="btn d-flex align-items-center justify-content-center" title="cliënt verwijderen" style="cursor: pointer;"><i class="fa fa-trash fa-xs"></i></button>
                                        </li>
                                    }
                                    @if (EditedKilometer.Leefgroepen.Count == 0)
                                    {
                                        <p>nog geen leefgroep(en) geselecteerd</p>
                                    }
                                }




                                @if (EditedKilometer.KilometerType.Code == "KAMP")
                                {
                                    foreach (Kamp kamp in EditedKilometer.Kampen)
                                    {
                                        <li>
                                            @kamp.Bestemming
                                            <button @onclick="@(() => DeleteKamp(kamp))" class="btn d-flex align-items-center justify-content-center" title="cliënt verwijderen" style="cursor: pointer;"><i class="fa fa-trash fa-xs"></i></button>
                                        </li>
                                    }
                                    @if (EditedKilometer.Kampen.Count == 0)
                                    {
                                        <p>nog geen kamp(en) geselecteerd</p>
                                    }

                                }



                            </ul>
                        </div>
                    </div>
                </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                            </div>
                            <div class="col-6 text-right">


                                <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnSaveButtonClick())"><i class="fas fa-user-plus"></i>Opslaan</button>

                            </div>


                        </div>
                    </div>
</ChildContent>
    </DxPopup>

    <ClientenPopupMulti ActionOnClose="@OnActionOnCloseClientPopupMulti"  PopupVisible="@ClientenPopupIsVisible"></ClientenPopupMulti>

    <LeefgroepPopupMulti ActionOnClose="@OnActionOnCloseLeefgroepPopupMulti" PopupVisible="@LeefgroepPopupIsVisible"></LeefgroepPopupMulti>

    <KampenPopupMulti ActionOnClose="@OnActionOnCloseKampenPopupMulti" PopupVisible="@KampenPopupIsVisible"></KampenPopupMulti>
}
