﻿@page "/Kilometervergoeding";

@inherits KilometervergoedingOverzichtPageModel;
@using OCBlazor.Pages
@using DevExpress.Blazor;
@using OCBlazor.Pages.Popups
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic;
@using Logic.DataBusinessObjects;
@using Logic.DataBusinessObjects.Kilometervergoeding;


<LogoPageTitle PageTitle="Kilometervergoeding"></LogoPageTitle>
<KilometervergoedingSavePopup ActionOnClose="@OnActionOnClose" SelectedKilometer="@SelectedKilometer" PopupVisible="@SavePopupIsVisible"></KilometervergoedingSavePopup>

<QuestionPopup ActionYes="@OnQuestionDeleteYes" ActionNo="@OnQuestionDeleteNo" Question="@DeleteQuestionText" YesButtonText="Ja" NoButtonText="Neen" PopupVisible="@DeleteQuestionPopupVisible"></QuestionPopup>
<div class="row" Style="margin-bottom:20px">
    <div class="col-md-4">
        <button type="button" class="btn btn btn-secondary" title="cliënt toevoegen" @onclick="@(() => AddKilometers(null))"><i class="fas fa-plus"></i>@($"kilometers toevoegen")</button>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <DxDataGrid Data=@Kilometers PageSize="10" ShowPager="true" @ref="@_gridRef"     HtmlDataCellDecoration="@OnHtmlDataCellDecoration">

            <DxDataGridColumn Caption="" Width="80px">
                <DisplayTemplate>
                    @{
                        Kilometer km = (context as Kilometer);

                        @if (km.AfgeslotenDoorPersoneelsdienst == false)
                        {
                            <div class="row">

                                <div class="col-6 text-center">
                                    <button @onclick="@(() => OpenPopupDelete(km))" class="btn d-flex align-items-center justify-content-center" title="verwijderen" style="cursor: pointer;"><i class="fa fa-trash fa-xs"></i></button>
                                </div>
                                <div class="col-6 text-center">

                                    <button @onclick="@(() => OpenPopup(km))" class="btn d-flex align-items-center justify-content-center" title="afgesloten transactie bekijken" style="cursor: pointer;"><i class="fa fa-edit fa-xs"></i></button>
                                </div>
                            </div>
                        }
                    }
                </DisplayTemplate>
            </DxDataGridColumn>


            <DxDataGridCheckBoxColumn Width="40px" Field=@nameof(Kilometer.AfgeslotenDoorPersoneelsdienst) Caption="Afgesloten"></DxDataGridCheckBoxColumn>
            <DxDataGridColumn Field=@nameof(Kilometer.KilometerType.Name) Caption="Type">
                <DisplayTemplate>
                    @{
                        var Kilometer = (context as Kilometer);
                        <p>@Kilometer.KilometerType.Name</p>}
                </DisplayTemplate>
            </DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(Kilometer.Wagen.Naam) Caption="Vervoer">
                <DisplayTemplate>
                    @{
                        var Kilometer = (context as Kilometer);
                        <p>@Kilometer.Wagen.Naam</p>}
                </DisplayTemplate>
            </DxDataGridColumn>

            <DxDataGridDateEditColumn Field=@nameof(Kilometer.DatumRit) Caption="Datum"></DxDataGridDateEditColumn>
            <DxDataGridColumn Field=@nameof(Kilometer.Bestuurder) Caption="Bestuurder"></DxDataGridColumn>

            <DxDataGridSpinEditColumn Field="@nameof(Kilometer.Kilometers)"
                                      DisplayFormat="N"
                                      Width="120px"></DxDataGridSpinEditColumn>

            <DxDataGridSpinEditColumn  Field="@nameof(Kilometer.Bedrag)"
                                      DisplayFormat="c"
                                      Width="120px"></DxDataGridSpinEditColumn>
            <DxDataGridColumn Field=@nameof(Kilometer.Reisroute) Caption="Reisroute"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(Kilometer.Reden) Caption="Reden"></DxDataGridColumn>


        </DxDataGrid>
    </div>


</div>

