﻿@using OCBlazor.Services;

@page "/kilometervergoeding-verklaring/{BatchCode}";

@inherits VerklaringModel;
@using OCBlazor.Pages.Kilometervergoeding
@using DevExpress.Blazor;
@using DevExpress.Blazor.ComboBox;
@using OCBlazor.Pages.Popups
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;
@using Logic.DataBusinessObjects.Kilometervergoeding;


<LogoPageTitle PageTitle="VERKLARING OP EER VERVOER"></LogoPageTitle>
 
@if (AllesIngevuld)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5" style="display:flex;justify-contents:center;align-items:center;"><h1>
                Het document is ingevuld. <br />
                De gegevens zijn doorgestuurd naar de personeelsdienst. <br />
                U kunt het scherm sluiten door rechtsboven op het kruisje te klikken. <br />
        </h1></div>
        <div class="col-sm-3">  <img src="/Images/success.png" asp-append-version="true" height="150px" /></div>
        <div class="col-sm-2"></div>
    </div>


}
else
{

<fieldset>
    <legend>Bij het invullen van dit document , verklaar ik op mijn eer hoe ik de afstanden afleg van mijn verblijfplaats naar het werk tussen de periode van 1/10/2023 tem 31/03/2024:</legend>
    <DxRadioGroup Items="@VerklarinItems"
                  @bind-Value="@VerklaringResult.VerklaringItemId"
                  ValueFieldName="@nameof(VerklaringItem.Id)"
                  TextFieldName="@nameof(VerklaringItem.Text)"
                  CssClass="dx-demo-radio-group">
    </DxRadioGroup>
    
    @if (VerklaringResult.VerklaringItemId > 0) //abonnement openbaar
    {
        <DxFormLayout CssClass="dx-demo-form-layout-width">
            @if (VerklaringResult.VerklaringItemId != 2)
            {
                <DxFormLayoutItem ColSpanMd="12" Caption="Afstand wagen enkele reis in km =">
                    <DxMaskedInput @bind-Value="@VerklaringResult.AfstandEnkeleReisWagen"
                                   T="double?"
                                   Mask="@NumericMask.RealNumber"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                   BindValueMode="BindValueMode.OnInput"
                                   NullText="geef aantal kilometers in..."
                                   CssClass="cw-320" />
                </DxFormLayoutItem>
            }
            @if (VerklaringResult.VerklaringItemId != 1)
            {
                <DxFormLayoutItem ColSpanMd="12" Caption="Afstand fiets enkele reis in km =">
                    <DxMaskedInput @bind-Value="@VerklaringResult.AfstandEnkeleReisFiets"
                                   T="double?"
                                   Mask="@NumericMask.RealNumber"
                                   ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                   BindValueMode="BindValueMode.OnInput"
                                   NullText="geef aantal kilometers in..."
                                   CssClass="cw-320" />
                </DxFormLayoutItem>
            }
        </DxFormLayout>
    }
</fieldset>

<table>
    <tr>
        <td style ="width:80px">
            <DxCheckBox CssClass="w-100 verklaringCheckbox" @bind-Checked="@VerklaringResult.VerklaringOndertekend" />
        </td>
        <td >
            <legend style="margin-top:30px">Ik verbind mij ertoe elke wijziging inzake vervoermiddel en /of afstand onmiddellijk aan mijn werkgever bekend te maken via de personeelsdienst.</legend>
        </td>
    </tr>
</table>

<br>

<center>
    <DxButton style="width:250px;height:60px" RenderStyle="ButtonRenderStyle.Primary" SizeMode="SizeMode.Large" Text="OK" Click="@Save"></DxButton>
</center>

}