﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/Werkaanvragen";

@inherits WerkaanvraagPageModel;
@using OCBlazor.Pages
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic;
@using Logic.DataBusinessObjects;
@using Logic.DataBusinessObjects.Werkbonnenbeheer;


<LogoPageTitle PageTitle="Werkaanvragen"></LogoPageTitle>


<div class="container-fluid">
    <div class="row">
        <DxDataGrid Data=@Werkbonnen PageSize="10" ShowPager="true">
            <DxDataGridColumn Field=@nameof(Werkbon.Id) Caption="Nr"></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(Werkbon.Titel) Caption="Titel"></DxDataGridColumn>
        </DxDataGrid>
    </div>

    @*<Locatieboom SelectedLocatie ="@SelectedWerkbon.Locatie.Id"></Locatieboom>*@

</div>

