@page "/MaaltijdLijstenReportItemBox"

<style>
    .square {
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }

    .squareSelected {
        width: 100px;
        height: 100px;
        border: 2px solid  blue;
    }

</style>

<div class="@BoxStyle" @onclick="SquareClicked">
    <h3>@ReportTitle </h3>
    
    </div>
 
@code {

    [Parameter]
    public String ReportTitle { get; set; }

    [Parameter]
    public int ReportId { get; set; }


    public string BoxStyle => IsSelected ? "squareSelected" : "square";

    public int? SelectedReportId { get; set; }


    public bool IsSelected => SelectedReportId.GetValueOrDefault() == SelectedReportId;

    public void SquareClicked()
    {

        
    }
}