﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
@page "/telefoonboek";

@inherits TelefoonBoekPageModel;
@using OCBlazor.Pages
@using DevExpress.Blazor;

 
@using OCBlazor.Models;
@using Logic;
@using Logic.DataBusinessObjects;
@using OCBlazor.Pages.Popups;
@using OCBlazor.Components;
<LogoPageTitle PageTitle="Telefoonboek"></LogoPageTitle>

@if (TelefoonBoekVisual == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <LocatieBoom OnSelectedTreeItemChanged="@OnSelectedTreeItemChanged" SelectedTreeId="209"></LocatieBoom>
    <DxDataGrid Data=@TelefoonBoekVisual PageSize=20 AllowDataRowSelection="true">

        <DxDataGridColumn Field=@nameof(Gebruiker.FotoString ) Caption="Foto" Width="150px">
            <DisplayTemplate>
                @{

                    var geb = (context as Gebruiker);
                    if (!String.IsNullOrWhiteSpace(geb.FotoString))
                    {
                        <img src=@geb.FotoString alt="Red dot" width="150px" />
                    }
                }
            </DisplayTemplate>
        </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Gebruiker.Code) Caption="Personeelsnr."></DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Gebruiker.FirstName) Caption="Voornaam" />
        <DxDataGridColumn Field=@nameof(Gebruiker.LastName) Caption="Achternaam" />
        <DxDataGridColumn Field=@nameof(Gebruiker.Email) Caption="Email">
            <DisplayTemplate>
                @{
                    var geb = (context as Gebruiker);
                    if (!String.IsNullOrWhiteSpace(geb.Email))
                    {
                        String eMail = "mailto:" + geb.Email;
                        <a href="@eMail">@geb.Email</a>
                    }
                }
            </DisplayTemplate>
        </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Gebruiker.Phone) Caption="Telefoon" />
        <DxDataGridColumn Field=@nameof(Gebruiker.MobilePhone) Caption="GSM" />
        <DxDataGridColumn Field=@nameof(Gebruiker.InternalPhoneNumber) Caption="Int. nummer" />
        <DxDataGridColumn Field=@nameof(Gebruiker.InternGroupPhoneNumber) Caption="Int. groepsnummer" />
        <DxDataGridColumn Field=@nameof(Gebruiker.Function) Caption="Functie" />
        <DxDataGridColumn Field=@nameof(Gebruiker.Workplace) Caption="Werkplaats" />
    </DxDataGrid>



}
