﻿@inherits LayoutComponentBase
@using Sotsera.Blazor.Toaster
<ToastContainer />
<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
