<!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Clara Fey</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="telefoonboek">
                        <span class="oi oi-plus" aria-hidden="true"></span>Telefoonboek
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/kasbeheer">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>Kasbeheer
                    </NavLink>
                </li>
            </ul>

        </div>
    </nav>
    -->
