﻿@using OCBlazor.Services;
@using OCBlazor.PageModels;
 
@page "/ExitEnquete";
@inherits ExitEnqueteModel;
@using OCBlazor.Pages
@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;
@using OCBlazor.Components;
@using Microsoft.AspNetCore.Components.Web
@using OCBlazor.Models;
@using Database.DataAccessObjects;


<LogoPageTitle PageTitle="Exitenquête" />
<DxFormLayout>
    <DxFormLayoutGroup Caption="Gegevens medewerker" ColSpanXs="12" CaptionPosition="CaptionPosition.Horizontal">
        <DxFormLayoutItem ColSpanXs="9">
            <Template>
                @*Naam user*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==66).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="9">
            <Template>
                @*Functie User*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==67).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="9">
            <Template>
                @*Groep User*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==68).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="9">
            <Template>
                @*Datum in dienst*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==69).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" MaxDate="DateTime.Today" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="9">
            <Template>
                @*Datum uit dienst*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==71).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="9">
            <Template>
                @*Tewerkstellingsbreuk*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==72).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
    <DxFormLayoutGroup Caption="Vragenlijst" ColSpanXs="12" CaptionPosition="CaptionPosition.Vertical">
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Wat is de reden dat je OC Clara Fey verlaat?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==73).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Hoe vond je jouw nieuwe job?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==74).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Overal, hoe zou je OC Clara Fey waarderen als werkgever?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==76).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Zou je OC Clara Fey aanbevelen als een goede werkgever?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==77).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Hoe competief denk je dat het salarispakket van OC Clara Fey is?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==78).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Hoe zou je de volgendeaspecten van je werkervaring bij OC Clara Fey beoordelen?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==79).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Apprecieerde het management jouw inspanning en bijdragen?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==80).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Hoe was je werkrelatie met je directe leidinggevende?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==81).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Hoe was je ervaring tijdens je tewerkstelling?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==82).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Wat vond je leuk in jouw werk?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==83).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Wat vond je vervelend in jouw werk?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==84).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Als je 1 ding zou kunnen veranderen aan OC Clara Fey, wat zou dit dan zijn?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==85).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanXs="12">
            <Template>
                @*Wil je nog bijkomende feedback delen?*@
                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==86).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="true" />
            </Template>
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
</DxFormLayout>

<div class="row">
    <div class="col-3" style="text-align:left;">
        <button type="button" class="btn btn-lg btn-secondary" @onclick="@(() => CancelButton())">Annuleren</button>
    </div>
    <div class="col-6" />
    <div class="col-3" style="text-align:right;">
        <button type="button" class="btn btn-lg btn-success" @onclick="@(() => OKButton())"><i class="fas fa-save"></i> Opslaan</button>
    </div>
</div> 