﻿@page "/gog/{List}"
@using DataBase.Services
@using DevExpress.Blazor;
@using Logic.GOG;
@using Logic.Modules
@using Logic.Werkbonnenbeheer;
@using Logic.DataBusinessObjects.Werkbonnenbeheer;
@using Logic.DataBusinessObjects; 
@using Sotsera.Blazor.Toaster;
@using OCBlazor.Pages.Popups;
@using Logic.DataBusinessObjects.GOG;
@using Common.DateTimeExtensions;
@using System.Text.Json

@inject IToaster _toaster
@inject NavigationManager _navigator
@inject IUserService _userService
@inject IGOGItemService _gogService
@inject IJSRuntime JSRuntime
@inject NavigationManager _uriHelper

@if (_bijlagenPopupIsVisible)
{
    <BijlageManagerPopup ActionOnClose="@OnActionOnCloseBijlagenPopupMulti" CanDelete="true" PopupVisible="@_bijlagenPopupIsVisible" Module="ModuleType.GOG" Id="_selectedGogItemId" />
}
@if (_statusChangeFlyoutIsVisible)
{
        <DxFlyout @bind-IsOpen=_statusChangeFlyoutIsVisible PositionTarget="@("#flyout-overview-target-container-" + _selectedGOGItem?.Id)"
            RestrictionTarget="#Navigation-Flyout-Overview"
            FitToRestriction=false
            CloseMode="FlyoutCloseMode.Close"
            HeaderVisible="true"
            HeaderText="Status wijzigen"
            Width="250px"
            PreventCloseOnPositionTargetClick="true"
            Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
            <BodyTextTemplate>
            <table>
                @if (SelectedGOGItem != null && (_selectedGOGItem.StatusId.GetValueOrDefault() == 1 || _selectedGOGItem.StatusId.GetValueOrDefault() == 3))
                {
                    <tr @onclick="() => GogStatusWijzigen(2)" style="cursor: pointer;">
                        <td style="padding: 10px">
                            <div title="In behandeling" style="color: darkorange;" class="fa fa-square fa-lg"> </div>
                        </td>
                        <td>
                            <div class="text-start">In behandeling</div>
                        </td>
                    </tr>
                }
                @if (_selectedGOGItem != null && _selectedGOGItem.StatusId.GetValueOrDefault() != 3)
                {
                    <tr @onclick="() => GogStatusWijzigen(3)" style="cursor: pointer;">
                        <td style="padding: 10px">
                            <div title="Afgehandeld" style="color: green;" class="fa fa-square fa-lg"> </div>
                        </td>
                        <td>
                            <div class="text-start">Afgehandeld</div>
                        </td>
                    </tr>
                }
                </table>
            </BodyTextTemplate>
    </DxFlyout>
}

<div name="OpdrachtenList" class="row" >
    <div class="card-header p-2 demo-bg-transparent">
        <DxToolbar>    
            <Items>
                <DxToolbarItem Text="Nieuwe Melding" Tooltip="Nieuwe Melding" IconCssClass="fa fa-plus" BeginGroup="true" GroupName="GroupName" Click="OpenNewPage" Visible="_canSeeNewButton" />
                <DxToolbarItem Text="Bekijken" Tooltip="Bekijken" IconCssClass="fa fa-eye" Visible="_isGOGNull" Click="x => OpenEditPage(false)" />
                <DxToolbarItem Text="Aanpassen" Tooltip="Aanpassen" IconCssClass="fa fa-edit" Visible="_isGOGNull && CanEditOrCreate" Click="x => OpenEditPage(true)" />
                <DxToolbarItem Text="Bijlagen" Tooltip="Bijlagen" IconCssClass="fa fa-file" Enabled="true" Visible="_isGOGNull" Click="OpenBijlagen" />                
                <DxToolbarItem BeginGroup="true" Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px">
                    <Template>
                        <DxFormLayout>
                            <DxFormLayoutItem Caption="Van :" ColSpanMd="12">
                                <DxDateEdit Date="@GogMainFilter.StartDate" DateChanged="@((DateTime newValue) => OnStartDateChanged(newValue))" />
                            </DxFormLayoutItem>
                         </DxFormLayout>
                     </Template>
                </DxToolbarItem>
                <DxToolbarItem Enabled="true" Alignment="ToolbarItemAlignment.Right" Context="c" style="width:220px">
                     <Template>
                        <DxFormLayout  >
                             <DxFormLayoutItem Caption="Tot :" ColSpanMd="12">
                                <DxDateEdit Date="@GogMainFilter.EndDate" DateChanged="@((DateTime newValue) => OnEndDateChanged(newValue))" />
                               </DxFormLayoutItem>
                         </DxFormLayout>
                     </Template>
                </DxToolbarItem>
                <DxToolbarItem Text="PDF" Tooltip="PDF" BeginGroup="true" IconCssClass="fa fa-file-pdf" Visible="_isGOGNull" Click="DownloadPDF" Alignment="ToolbarItemAlignment.Right" />
                <DxToolbarItem Text="Grafieken" Tooltip="Grafieken" IconCssClass="fa fa-chart-bar" Visible="HasAccessToReports" Click="x=>OpenReportPage()" Alignment="ToolbarItemAlignment.Right" />
        </Items>
        </DxToolbar>
        
    </div>
    <DxGrid Data="@List" @ref="Grid"
            PageSize="20"
            @bind-PageIndex="@PageIndex"
            @bind-SelectedDataItem="@SelectedGOGItem" AllowSelectRowByClick="true" 
            PageSizeSelectorItems="@(new int[] {10, 15, 20, 30, 40, 50, 75, 100 })"
            PageSizeSelectorAllRowsItemVisible="true"
            PagerSwitchToInputBoxButtonCount="10"
            PagerVisibleNumericButtonCount="10"
            PageSizeSelectorVisible="true"
            SelectionMode="GridSelectionMode.Single" 
            AllowGroup="true" AllowSort="true" ShowGroupPanel="true" ShowFilterRow="@_ShowFilterRow" ColumnResizeMode="GridColumnResizeMode.NextColumn">        
        <Columns>           
            <DxGridDataColumn FieldName="AantalBijlagen" Width="20px" Caption=" " FilterRowEditorVisible="false">
                <CellDisplayTemplate>
                    @if ((int)context.Value > 0 )
                    {
                        <button @onclick="@(() => OpenBijlagen((GOGItem)context.DataItem))" class="btn d-flex" title="@((GOGItem)context.DataItem).AantalBijlagen" style="cursor: pointer; padding: 0p;"><i class="fas fa-paperclip fa-lg"></i></button>
                    }                  
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="StatusIdNotNull" Width="80px" Caption="Status" TextAlignment="GridTextAlignment.Center" Context="cellContext">
                <FilterRowCellTemplate>                    
                    <DxComboBox Data="MyStatusses" ValueFieldName="Id" TextFieldName="DisplayText" Context="comboContext"
                                FilteringMode="DataGridFilteringMode.Contains" 
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" ValueChanged="(int? v) => cellContext.FilterRowValue = v">
                        <ItemTemplate>
                            <div class="combobox-item-template">
                                @{
                                    int StatusId = comboContext.Id;

                                    @if (StatusId == 0)
                                    {
                                        <span title="Onvolledig" style="color: darkgray;" class="fa fa-square"></span>
                                    }
                                    else if (StatusId == 1)
                                    {
                                        <span title="Nieuw" style="color: Red;" class="fa fa-square"></span>
                                    }
                                    else if (StatusId == 2)
                                    {
                                        <span title="In behandeling" style="color: darkorange;" class="fa fa-square" ></span>
                                    }
                                    else if(StatusId == 3)
                                    {
                                        <span title="Afgehandeld" style="color: green;" class="fa fa-square" ></span>
                                    }
                                }
                            </div>
                        </ItemTemplate>
                    </DxComboBox>
                </FilterRowCellTemplate>
                <CellDisplayTemplate>
                    @{
                        int StatusId = ((int)cellContext.Value);
                        GOGItem item = (GOGItem)cellContext.DataItem;

                        @if (StatusId == 0)
                        {
                            <div id="@("flyout-overview-target-container-" + item.Id)">
                                <span title="Onvolledig" style="color: darkgray;" class="fa fa-square" @onclick="() => StatusChangeClick(item)"></span>
                            </div>
                        }
                        else if (StatusId == 1)
                        {
                            <div id="@("flyout-overview-target-container-" + item.Id)">
                                <span title="Nieuw" style="color: Red;" class="fa fa-square" @onclick="() => StatusChangeClick(item)"></span>
                            </div>
                        }
                        else if (StatusId == 2)
                        {
                            <div id="@("flyout-overview-target-container-" + item.Id)">
                                <span title="In behandeling" style="color: darkorange;" class="fa fa-square" @onclick="() => StatusChangeClick(item)"></span>
                            </div>
                        }
                        else if(StatusId == 3)
                        {
                            <div id="@("flyout-overview-target-container-" + item.Id)">
                                <span title="Afgehandeld" style="color: green;" class="fa fa-square" @onclick="() => StatusChangeClick(item)"></span>
                            </div>
                        }
                    }
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Id" Caption="Nr." Width="80px" >
                <EditSettings>
                    <DxSpinEditSettings ShowSpinButtons="false" ReadOnly="true" NullText="" />
                </EditSettings>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="Creator.Name" Caption="Aangemaakt door" />
            <DxGridDataColumn FieldName="DatumIncident" Caption="Incident datum" Width="90px">
                <FilterRowCellTemplate>
                    <DxDateEdit Date="(DateTime?)context.FilterRowValue"
                                DateChanged="(DateTime? v) => context.FilterRowValue = v" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </FilterRowCellTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn FieldName="AardVanIncident" Caption="Aard van incident" />
            <DxGridDataColumn FieldName="BetrokkenBewonersString" Caption="Cliënt" />
            <DxGridDataColumn FieldName="Leefgroep.Name" Caption="Leefgroep" />
            <DxGridDataColumn FieldName="ModifierVoornaamAchternaam" Caption="Aangepast door" />
          @*  <DxGridDataColumn FieldName="ModificationDate" Caption="Aanpasdatum">
                <FilterRowCellTemplate>
                    <DxDateEdit Date="(DateTime?)context.FilterRowValue"
                                DateChanged="(DateTime? v) => context.FilterRowValue = v" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto" />
                </FilterRowCellTemplate>
            </DxGridDataColumn>*@            
        </Columns>         
    </DxGrid>
</div>
 
 


@code {
    public class MyStatus
    {

        public int Id { get; set; }
        public String DisplayText { get; set; }

    }
    class CustomLayoutToSave
    {
        public GOGItem LastSelectedGOGItem {get;set;}
        public int VisibleRow { get; set; }
        public int FocusedRow { get; set; }
    }
    public List<MyStatus> MyStatusses = new List<MyStatus>();

    [Inject]
    IJSRuntime js { get; set; }

    /** PARAMETERS */
    [Parameter]
    public List<GOGItem> List { get; set; }
    [Parameter]
    public Action<GOGItem, bool> OnEditEventClick { get; set; }
    [Parameter]
    public bool CanEditOrCreate { get; set; }
    [Parameter]
    public Action<GOGItem> PrintPDF { get; set; }
    [Parameter]
    public Action<GOGMainFilter> DoFilterGogList { get; set; }
    [Parameter]
    public Object SelectedGOGItem { get { return (object)_selectedGOGItem; } set { oldSelectedGOGItem = _selectedGOGItem = (GOGItem)value; } }

    /** FIELDS */
    const string MyLocalStorageKeyLayout = "gridGog";
    const string MyLocalStorageKeyCustomLayout = "gogCustomSettings";
    IGrid Grid { get; set; }
    public GOGMainFilter GogMainFilter { get; set; } = new GOGMainFilter();
    public int oldPAgeIndex = 0;
    public GOGItem oldSelectedGOGItem = null;
    public int PageIndex { get; set; }
    private bool _isColumnSorted = false;
    public int PageSize
    {
        get { return _userService.LoggedOnUser.UserSettings.PageSizeGOG; }
        set { _userService.LoggedOnUser.UserSettings.PageSizeGOG = value; }
    }
    protected GOGItem _selectedGOGItem;
    protected int _selectedGogItemId
    {
        get
        {
            if (_selectedGOGItem != null)
                return _selectedGOGItem.Id;
            else return 0;
        }
    }
    private DxDataGrid<GOGItem> _grid;
    private bool _ShowFilterRow = true;
    private bool _canSeeNewButton => CanEditOrCreate;
    private bool _isGOGNull => _selectedGOGItem != null && _selectedGOGItem.Id != 0;
    private bool _bijlagenPopupIsVisible = false;
    private bool _statusChangePopupVisible = false;
    private bool _statusChangeFlyoutIsVisible = false;
    public bool HasAccessToReports => _userService.LoggedOnUser.HasAccess("4000") || _userService.LoggedOnUser.UserId == 27 || _userService.LoggedOnUser.UserId == 3600;

    /**  METHODS */
    private void StatusChangeClick(GOGItem gogItem)
    {
        if (!(_userService.LoggedOnUser.HasAccess("4001") || _userService.LoggedOnUser.HasAccess("4000")) || (!gogItem.StatusId.HasValue || gogItem.StatusId.GetValueOrDefault() == 0))
            return;

        if (_selectedGOGItem != gogItem)
            _selectedGOGItem = gogItem;

        _statusChangeFlyoutIsVisible = true;
        StateHasChanged();
    }
    private void GogStatusWijzigen(int newStatusId)
    {
        _selectedGOGItem.StatusId = newStatusId;
        _gogService.SaveGOGItem(_selectedGOGItem);

        _statusChangeFlyoutIsVisible = false;
        StateHasChanged();
    }
    private void ClosePopups()
    {
        _bijlagenPopupIsVisible = false;
        _statusChangePopupVisible = false;
    }
    private void OnShowFilterRow(ToolbarItemClickEventArgs e)
    {
        _ShowFilterRow = !_ShowFilterRow;
    }
    private void OpenNewPage()
    {
        oldPAgeIndex = 0;
        GOGItem tempGOGItem = new GOGItem()
        {
            Id = 0,
            Creator = new Gebruiker()
            {
                Id = _userService.LoggedOnUser.UserId,
                Name = _userService.LoggedOnUser.Name,
                Function = _userService.LoggedOnUser.FunctionDescription,
                Email = _userService.LoggedOnUser.Email
            }
        };

        if (OnEditEventClick != null)
            OnEditEventClick.Invoke(tempGOGItem, true);
    }
    public void OpenEditPage(bool isEditable)
    {
        oldPAgeIndex = PageIndex;
        GridSaveSettings();
        SaveCustomLayoutSettings();
        GOGItem tempGOGItem = _selectedGOGItem;
        if (OnEditEventClick != null && _selectedGOGItem != null)
            OnEditEventClick.Invoke(_selectedGOGItem, isEditable);
    }
    public void OpenReportPage()
    {     
        Task.Delay(100).ContinueWith((t) => _uriHelper.NavigateTo("/gog/reporting"));        
    }
    public void OpenBijlagen()
    {
        if (_selectedGOGItem == null)
            _toaster.Warning("Gelieve een GOG-registratie te selecteren");
        else
        {
            _bijlagenPopupIsVisible = true;
        }
    }
    public void OpenBijlagen(GOGItem item)
    {
        _selectedGOGItem = item;
        OpenBijlagen();
    }
    public void OnActionOnCloseBijlagenPopupMulti()
    {
        ClosePopups();
        StateHasChanged();
    }
    public void DownloadPDF()
    {
        PrintPDF(_selectedGOGItem);
    }
    void SortindexChanged(int sortIndex)
    {
        if (sortIndex != -1)
            _isColumnSorted = true;
        else
            _isColumnSorted = false;
    }
    void PageSizeChanged(int page)
    {
        PageSize = page;
    }
    public void OnActionOnCloseGogStatusPopup()
    {
        ClosePopups();
        StateHasChanged();
    }
    public void OpenDocumentatie()
    {
        // open webpage in popup? IF ONLINE. Get from DB and show in popup IF NOT ONLINE
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {

            if (DoFilterGogList != null)
                DoFilterGogList.Invoke(GogMainFilter);

            GridLoadSettings();
            LoadCustomLayoutSettings();

            MyStatusses.Clear();
            MyStatusses.Add(new MyStatus() { Id = 0, DisplayText = "Onvolledig" });
            MyStatusses.Add(new MyStatus() { Id = 1, DisplayText = "Nieuw" });
            MyStatusses.Add(new MyStatus() { Id = 2, DisplayText = "In behandeling" });
            MyStatusses.Add(new MyStatus() { Id = 3, DisplayText = "Afgehandeld" });
    }
        base.OnAfterRender(firstRender);
    }
    public void OnStartDateChanged(DateTime newValue)
    {
        GogMainFilter.StartDate = newValue;

        if (DoFilterGogList != null)
            DoFilterGogList.Invoke(GogMainFilter);

        GridDeleteSettings();
        Grid.ClearFilter();
        oldPAgeIndex = PageIndex = 0;
        SelectedGOGItem = null;
    }
    public void OnEndDateChanged(DateTime newValue)
    {
        GogMainFilter.EndDate = newValue;

        if (DoFilterGogList != null)
            DoFilterGogList.Invoke(GogMainFilter);
        Grid.ClearFilter();
        oldPAgeIndex = PageIndex = 0;
        SelectedGOGItem = null;
    }
    public async void GridSaveSettings()
    {
        var layout = this.Grid.SaveLayout();
        await SaveLayoutToLocalStorageAsync(layout);
    }
    public async void GridDeleteSettings()
    {
        await RemoveLayoutFromLocalStorageAsync();
    }
    async Task RemoveLayoutFromLocalStorageAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("localStorage.removeItem", MyLocalStorageKeyLayout);
        }
        catch
        {
        }
    }
    public async void GridLoadSettings()
    {
        var layout = await LoadLayoutFromLocalStorageAsync();
        this.Grid.LoadLayout(layout);
        StateHasChanged();
    }
    async Task<GridPersistentLayout> LoadLayoutFromLocalStorageAsync()
    {
        try
        {
            string json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", MyLocalStorageKeyLayout);
            return JsonSerializer.Deserialize<GridPersistentLayout>(json);
        }
        catch
        {
            return null;
        }
    }
    async Task SaveLayoutToLocalStorageAsync(GridPersistentLayout layout)
    {
        try
        {
            var json = JsonSerializer.Serialize(layout);
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", MyLocalStorageKeyLayout, json);
        }
        catch
        {
        }
    }
    public async void SaveCustomLayoutSettings()
    {
        CustomLayoutToSave c = new CustomLayoutToSave();
        c.LastSelectedGOGItem = (GOGItem)SelectedGOGItem;
        c.VisibleRow = Grid.GetFocusedRowIndex();
        await Grid.SetFocusedDataItemAsync(c.LastSelectedGOGItem);
        c.FocusedRow = Grid.GetFocusedRowIndex();
        await SaveCustomLayoutToLocalStorageAsync(c);
    }
    public async void LoadCustomLayoutSettings()
    {
        var c = await LoadCustomLayoutFromLocalStorageAsync();
        if (c != null && c.LastSelectedGOGItem != null)
        {
            this.SelectedGOGItem = c.LastSelectedGOGItem;

            Grid.SelectDataItem(this.SelectedGOGItem);
            if (c.FocusedRow != -1)
                Grid.SelectRow(c.FocusedRow);
            StateHasChanged();
        }
    }
    async Task SaveCustomLayoutToLocalStorageAsync(CustomLayoutToSave customLayout)
    {
        try
        {
            var json = JsonSerializer.Serialize(customLayout);
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", MyLocalStorageKeyCustomLayout, json);
        }
        catch
        {
        }
    }
    async Task<CustomLayoutToSave> LoadCustomLayoutFromLocalStorageAsync()
    {
        try
        {
            string json = await JSRuntime.InvokeAsync<string>("localStorage.getItem", MyLocalStorageKeyCustomLayout);
            return JsonSerializer.Deserialize<CustomLayoutToSave>(json);
        }
        catch
        {
            return null;
        }
    }
}
