﻿@page "/gog";
@inherits GogOverzichtPageModel;
@using Common.CloneExtensions;
@using OCBlazor.Pages
@using DevExpress.Blazor;
@using OCBlazor.Pages.Popups
@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic;
@using Logic.DataBusinessObjects;
@using DevExpress.Blazor.Reporting.Internal.Components;
@using Common;

<LogoPageTitle PageTitle="Registratie GOG"></LogoPageTitle>



@if (_clientenPopupIsVisible)
{
    <ClientenPopupMulti ActionOnClose="@OnActionOnCloseClientenPopupMulti" PopupVisible="@_clientenPopupIsVisible" ClientenPool="@MyDoorgeefClienten.DeepClone()" 
        AllClientenPool="@AllMyClienten.DeepClone()" SelectedClienten="@SelectedClienten" />
}
@if (_leefgroepPopupIsVisible)
{
    <LeefgroepPopup ActionOnClose="@OnActionOnCloseLeefgroepPopup" PopupVisible="@_leefgroepPopupIsVisible" LeefgroepPool="@(MyDoorgeefLeefgroepen.DeepClone())" />
}
@if (_gebruikerPopupIsVisible)
{
    <GebruikerPopupMulti ActionOnClose="@OnActionOnCloseGebruikerPopupMulti" PopupVisible="@_gebruikerPopupIsVisible" SelectedGebruikers="@SelectedGebruikers.DeepClone()" />
}
@if (_statusPopupIsVisible)
{
    <DxFlyout @bind-IsOpen=_statusPopupIsVisible
          PositionTarget="#flyout-overview-target-container"
          RestrictionTarget="#Navigation-Flyout-Overview"
          FitToRestriction=false
          CloseMode="FlyoutCloseMode.Close"
          HeaderVisible="true"
          HeaderText="Status wijzigen"
          Width="250px"
          PreventCloseOnPositionTargetClick="true"
          Position=@(FlyoutPosition.BottomStart | FlyoutPosition.TopStart)>
        <BodyTextTemplate>
            <table>
                @if (SelectedGOG != null && (SelectedGOG.StatusId.GetValueOrDefault() == 1 || SelectedGOG.StatusId.GetValueOrDefault() == 3))
                {
                    <tr @onclick="() => GogStatusWijzigen(2)" style="cursor: pointer;">

                        <td style="padding: 10px">
                            <div title="In behandeling" style="color: darkorange;" class="fa fa-square fa-lg"> </div>
                        </td>
                        <td>
                            <div class="text-start">In behandeling</div>
                        </td>
                    </tr>
                }
                @if (SelectedGOG != null && SelectedGOG.StatusId.GetValueOrDefault() != 3)
                {
                    <tr @onclick="() => GogStatusWijzigen(3)" style="cursor: pointer;">
                        <td style="padding: 10px">
                            <div title="Afgehandeld" style="color: green;" class="fa fa-square fa-lg"> </div>
                        </td>
                        <td>
                            <div class="text-start">Afgehandeld</div>
                        </td>
                    </tr>
                }
            </table>
        </BodyTextTemplate>
    </DxFlyout>
}

<div class="container-fluid">
    
    @if (!_editMode)
    {
        if (MyLeefgroepen.Count == 0 && MyClientenRechten.Count == 0)
        {
            <br /><h4>U bent niet toegekend aan minstens 1 leefgroep of cliënt. Gelieve u te melden bij de verantwoordelijke voor het rechtenbeheer</h4><br />
        } 
        else
        {
            <GOGList List="GOGLijst" PrintPDF="@PrintPDF" SelectedGOGItem="@SelectedGOG" DoFilterGogList="@DoFilterGogList" OnEditEventClick="@Editmode_ChangeToEditPage" CanEditOrCreate="true" />
        }
    }
    else
    {
        <div style="width:100%;text-align:right;">
            <h4>
                <a href="" @onclick="@(() => CancelButton())" @onclick:preventDefault>terug naar overzicht</a>
            </h4>
        </div>
        <DxFormLayout CaptionPosition="CaptionPosition.Vertical">
            <DxFormLayoutGroup Caption="Gegevens melder" ColSpanXs="12">
                <DxFormLayoutItem ColSpanXs="6">
                    <Template>
                        @*Naam + functie user*@
                        <h3 style="font-weight: bold;">Naam + functieomschrijving</h3>
                        <DxLabel Text="@(SelectedGOG.Creator.Name + ": " + SelectedGOG.Creator.Function)" CssClass="cw-320" />
                    </Template>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanXs="6">
                    <Template>
                        @*Aard van het incident (GOG, SGOG, vandalisme, enz.)*@
                        <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==10).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
            @if (IsVandalisme || IsWegloopgedrag || IsBetredenGebouwen || IsSamenscholing) {                
                <DxFormLayoutGroup Caption="Basisinfo van het Incident" ColSpanXs="12">
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Datum*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==1).First()" OnMultiSelectChanged="@OnChangedMultiSelect" MaxDate="DateTime.Today"
                                IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Uur*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==2).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Locatie*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==3).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
                <DxFormLayoutGroup Caption="Betrokken context" ColSpanXs="12">
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Persoon in spanning, steller van het GOG*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==8).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsBetrokkenWerkingVisible)
                    {
                        <DxFormLayoutItem ColSpanXs="4" Id="AnchorLeefgroep">
                            <Template>
                                @*Betrokken werking / woongroep (leefgroepen)*@
                                <h3 style="font-weight: bold;">Betrokken werking / woongroep</h3>
                                @{
                                    string tempLeefgroepName = SelectedGOG.Leefgroep != null ? SelectedGOG.Leefgroep.Name : "";
                                }
                                <DxTextBox @bind-Text="tempLeefgroepName" CssClass="cw-320" ReadOnly="true" SizeMode="SizeMode.Large" />
                                <label style="color:red;font-weight:bold">@ErrorMessageLeefgroep</label>
                                @if (MyDoorgeefLeefgroepen.Count != 0 && IsGogItemEditable)
                                {
                                    <DxButton Click="OnSelectLeefGroep" Text="Leefgroep toevoegen" IconCssClass="fas fa-plus" />
                                }
                            </Template>
                        </DxFormLayoutItem>
                        @if (MyDoorgeefClienten.Count != 0)
                        {
                            <DxFormLayoutItem ColSpanXs="4" Id="AnchorClient">
                                <Template>
                                    @*Persoon in spanning, steller van het GOG (bewoners)*@
                                    <h3 style="font-weight: bold;">Persoon in spanning, steller van het GOG</h3>
                                    <DxDataGrid Data="@SelectedGOG.BetrokkenBewoners" PageSize="5" ShowPager="true" SelectionMode="DataGridSelectionMode.None" Id="AnchorBetrokkenBegeleiders">
                                        <Columns>
                                            <DxDataGridColumn Field=@nameof(Client.Code) Caption="Code" />
                                            <DxDataGridColumn Field=@nameof(Client.FirstName) Caption="Voornaam" />
                                            <DxDataGridColumn Field=@nameof(Client.LastName) Caption="Achternaam" />
                                            <DxDataGridColumn Field=@nameof(Client.LeefgroepenString) Caption="Werkpaats" />
                                        </Columns>
                                    </DxDataGrid>
                                    <label style="color:red;font-weight:bold">@ErrorMessageClient</label>
                                    @if (IsGogItemEditable)
                                    {
                                        <DxButton Click="OnSelectClient" Text="Steller van het GOG toevoegen" IconCssClass="fas fa-plus" />
                                    }
                                </Template>
                            </DxFormLayoutItem>
                        }
                    }
                </DxFormLayoutGroup>
                 <DxFormLayoutGroup Caption="Ondernomen acties" ColSpanXs="12">
                    <DxFormLayoutItem BeginRow="true" ColSpanXs="6">
                        <Template>
                            @*Cliënten aangesproken?*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==59).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsClientAangesproken)
                    {
                        <DxFormLayoutItem ColSpanXs="6">
                            <Template>
                                @*Wie, wat waar?*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==61).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                    }
                    @if (IsClientNietaangesproken)
                    {
                        <DxFormLayoutItem ColSpanXs="6">
                            <Template>
                                @*Motivatie/ opmerkingen*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==62).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                    }
                    <DxFormLayoutItem BeginRow="true" ColSpanXs="12">
                        <Template>
                            @*Omschrijving van de vaststelling + ondernomen acties*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==63).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                 </DxFormLayoutGroup>
            }
            @if (IsGOGSelected || IsSGOGSelected) {
                <DxFormLayoutGroup Caption="Betrokken context" ColSpanXs="12">
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Persoon in spanning, steller van het GOG*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==8).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsBetrokkenWerkingVisible)
                    {
                        <DxFormLayoutItem ColSpanXs="4" Id="AnchorLeefgroep">
                            <Template>
                                @*Betrokken werking / woongroep (leefgroepen)*@
                                <h3 style="font-weight: bold;">Betrokken werking / woongroep</h3>
                                @{
                                    string tempLeefgroepName = SelectedGOG.Leefgroep != null ? SelectedGOG.Leefgroep.Name : "";
                                }
                                <DxTextBox @bind-Text="tempLeefgroepName" CssClass="cw-320" ReadOnly="true" SizeMode="SizeMode.Large" />
                                <label style="color:red;font-weight:bold">@ErrorMessageLeefgroep</label>
                                @if (MyDoorgeefLeefgroepen.Count != 0 && IsGogItemEditable)
                                {
                                    <DxButton Click="OnSelectLeefGroep" Text="Leefgroep toevoegen" IconCssClass="fas fa-plus" />
                                }
                            </Template>
                        </DxFormLayoutItem>
                        @if (MyDoorgeefClienten.Count != 0)
                        {
                            <DxFormLayoutItem ColSpanXs="4" Id="AnchorClient">
                                <Template>
                                    @*Persoon in spanning, steller van het GOG (bewoners)*@
                                    <h3 style="font-weight: bold;">Persoon in spanning, steller van het GOG</h3>
                                    <DxDataGrid Data="@SelectedGOG.BetrokkenBewoners" PageSize="5" ShowPager="true" SelectionMode="DataGridSelectionMode.None" Id="AnchorBetrokkenBegeleiders">
                                        <Columns>
                                            <DxDataGridColumn Field=@nameof(Client.Code) Caption="Code" />
                                            <DxDataGridColumn Field=@nameof(Client.FirstName) Caption="Voornaam" />
                                            <DxDataGridColumn Field=@nameof(Client.LastName) Caption="Achternaam" />
                                            <DxDataGridColumn Field=@nameof(Client.LeefgroepenString) Caption="Werkpaats" />
                                        </Columns>
                                    </DxDataGrid>
                                    <label style="color:red;font-weight:bold">@ErrorMessageClient</label>
                                    @if (IsGogItemEditable)
                                    {
                                        <DxButton Click="OnSelectClient" Text="Steller van het GOG toevoegen" IconCssClass="fas fa-plus" />
                                    }
                                </Template>
                            </DxFormLayoutItem>
                        }
                    }
                    <DxFormLayoutItem ColSpanXs="12">
                        <Template>
                            @*Betrokken begeleider(s) (medewerkers)*@
                            <h3 style="font-weight: bold;">Betrokken begeleider(s)</h3>
                            <DxDataGrid Data="@SelectedGOG.BetrokkenBegeleiders" PageSize="5" ShowPager="true" SelectionMode="DataGridSelectionMode.None" Id="AnchorBetrokkenBegeleiders">
                                <Columns>
                                    <DxDataGridColumn Field=@nameof(Gebruiker.Code) Caption="Code" />
                                    <DxDataGridColumn Field=@nameof(Gebruiker.FirstName) Caption="Voornaam" />
                                    <DxDataGridColumn Field=@nameof(Gebruiker.LastName) Caption="Achternaam" />
                                    <DxDataGridColumn Field=@nameof(Gebruiker.Workplace) Caption="Werkpaats" />                      
                                </Columns>
                            </DxDataGrid>
                            <label style="color:red;font-weight:bold">@ErrorMessageAnchorBetrokkenBegeleiders</label>
                            <DxButton Click="OnSelectGebruiker" Text="Begeleider(s) toevoegen" IconCssClass="fas fa-plus" Visible="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
                <DxFormLayoutGroup Caption="Basisinfo van het Incident" ColSpanXs="12">
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Datum*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==1).First()" OnMultiSelectChanged="@OnChangedMultiSelect" MaxDate="DateTime.Today"
                                          IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Uur*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==2).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Locatie*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==3).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6">
                        <Template>
                            @*Werd de medicatie gedurende het verloop van de dag correct gegeven?*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==9).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
                @if (IsGOGSelected) {
                    <DxFormLayoutGroup Caption="GOG" ColSpanXs="12">
                    <DxFormLayoutItem ColSpanXs="12">
                        <Template>
                            @*Beschrijf het incident op een neutrale manier (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==40).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6" BeginRow="true">
                        <Template>
                            @*Duur van het incident (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==48).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6" BeginRow="true">
                        <Template>
                            @*Fysiek grensoverschrijdend gedrag (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==34).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6">
                        <Template>
                            @*Verbaal grensoverschrijdend gedrag (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==33).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6" BeginRow="true">
                        <Template>
                            @*Uitlokkende factoren (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==50).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6">
                        <Template>
                            @*Ondernomen acties (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==51).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6" BeginRow="true">
                        <Template>
                            @*Werd er gebruik gemaakt van het personenalarm/ de interventietelefoon? (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==55).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsPersonenalarmVisible)
                    {
                        <DxFormLayoutItem ColSpanXs="6" Visible="IsPersonenalarmVisible">
                            <Template>
                                @*Omschrijving van de interventie/ actie(s) begeleider(s) (GOG keuze, vorige vraag = ja)*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==58).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>                
                    }
                    <DxFormLayoutItem ColSpanXs="12" BeginRow="true">
                        <Template>
                            @*Werd er melding gemaakt bij de politie van het GOG incident? (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==39).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="12" BeginRow="true">
                        <Template>
                            @*Werd er gebruik gemaakt van VrijheidsBeperkendeMaatregelen (VBM)? (GOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==36).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsBeschijfVBMVisible)
                    {
                        <DxFormLayoutItem ColSpanXs="6" Visible="IsBeschijfVBMVisible" BeginRow="true">
                            <Template>
                                @*Soorten VrijheidsBeperkendeMaatregelen (VBM) (GOG keuze, vorige vraag == ja)*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==47).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem ColSpanXs="6" Visible="IsBeschijfVBMVisible">
                            <Template>
                                @*Beschrijf de genomen VBM (GOG keuze, vorige vraag == ja)*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==38).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==42).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>            
                    }
                </DxFormLayoutGroup>
                }
                @if (IsSGOGSelected) {
                    <DxFormLayoutGroup Caption="SGOG" ColSpanXs="12" Visible="IsSGOGSelected">
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Beschrijf het incident op een neutrale manier (SGOG Keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==13).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Waren er minderjarigen betrokken bij het incident? (SGOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==14).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Gestelde SGOG feiten (SGOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==16).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Beoordeling met het Vlaggensysteem (SGOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==17).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Licht de gemaakte inschatting kort toe (SGOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==18).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Werd er melding gemaakt bij de politie van het SGOG incident? (SGOG keuze)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==19).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
                } 
                <DxFormLayoutGroup Caption="Schadeopname" ColSpanXs="12">
                    <DxFormLayoutItem ColSpanXs="6" BeginRow="true">
                        <Template>
                            @*Was er materiële schade?*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==25).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsMaterieleSchade)
                    {
                        <DxFormLayoutItem ColSpanXs="6" Visible="IsMaterieleSchade">
                            <Template>
                                @*Welke materiële schade is er?*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==46).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                    }
                    <DxFormLayoutItem ColSpanXs="4" BeginRow="true">
                        <Template>
                            @*Lichamelijke Schade bij Cliënten*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==28).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsLichamelijkeSchadeClienten)
                    {
                        <DxFormLayoutItem ColSpanXs="4" Visible="IsLichamelijkeSchadeClienten">
                            <Template>
                                @*Welk letsel bij cliënten?*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==44).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>                
                    }
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Psychische schade bij cliënten?*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==29).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4" BeginRow="true">
                        <Template>
                            @*Lichamelijke Schade bij medebewoner(s)*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==52).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsLichamelijkeSchadeMedebewoners)
                    {
                        <DxFormLayoutItem ColSpanXs="4" Visible="IsLichamelijkeSchadeMedebewoners">
                            <Template>
                                @*Welk letsel bij medebewoner(s)?*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==54).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                    }
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Psychische schade bij medebewoner(s)?*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==53).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="4" BeginRow="true">
                        <Template>
                            @*Lichamelijke schade bij begeleiding*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==30).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsLichamelijkeSchadeBegeleiding)
                    {
                        <DxFormLayoutItem ColSpanXs="4" Visible="IsLichamelijkeSchadeBegeleiding">
                            <Template>
                                @*Welk letsel is er bij de begeleiding?*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==45).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                    }
                    <DxFormLayoutItem ColSpanXs="4">
                        <Template>
                            @*Psychische schade bij Begeleiders?*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==31).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
                <DxFormLayoutGroup Caption="Afwikkeling/ analyse" ColSpanXs="12">
                    <DxFormLayoutItem ColSpanXs="12">
                        <Template>
                            @*Beschrijf de afwikkeling van het incident*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==20).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="12" BeginRow="true">
                        <Template>
                            @*Beschrijf de nazorg / het herstel*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==56).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanXs="6" BeginRow="true">
                        <Template>
                            @*Werd de context ingelicht?*@
                            <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==21).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                        </Template>
                    </DxFormLayoutItem>
                    @if (IsContextIngelicht)
                    {
                        <DxFormLayoutItem ColSpanXs="6" Visible="IsContextIngelicht">
                            <Template>
                                @*Wie? Wanneer? Hoe? (vorige vraag == ja)*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==43).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>                
                    }
                    @if (IsContextNietIngelicht)
                    {
                        <DxFormLayoutItem ColSpanXs="6" Visible="IsContextNietIngelicht">
                            <Template>
                                @*Waarom werd de context niet ingelicht? (vorige vraag == nee)*@
                                <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==24).First()" OnMultiSelectChanged="@OnChangedMultiSelect" IsEditable="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                    }
                    @if ((_userService.LoggedOnUser.HasAccess("4001") || _userService.LoggedOnUser.HasAccess("4000")) && SelectedGOG.StatusId.HasValue && SelectedGOG.StatusId.Value != 0)
                    {
                        <DxFormLayoutItem ColSpanXs="6">
                            <Template>
                                @*Aanpassen status GOG*@
                                <h3 style="font-weight: bold;">Status</h3>
                                @{
                                    string statusName = "";
                                    string colorName = "";
                                    if (!SelectedGOG.StatusId.HasValue || SelectedGOG.StatusId.Value == 0)
                                    {
                                        statusName = "Onvolledig";
                                        colorName = "color: darkgray";
                                    }
                                    else if (SelectedGOG.StatusId.Value == 1)
                                    {
                                        statusName = "Nieuw";
                                        colorName = "color: red";
                                    }
                                    else if (SelectedGOG.StatusId.Value == 2)
                                    {
                                        statusName = "In behandeling";
                                        colorName = "color: darkorange";
                                    }
                                    else if (SelectedGOG.StatusId.Value == 3)
                                    {
                                        statusName = "Afgehandeld";
                                        colorName = "color: green";
                                    }
                                }
                                <table>
                                    <tr>
                                        <td style="padding: 10px">
                                            <div style="@colorName" class="fa fa-square fa-2x"></div>
                                        </td>
                                        <td>
                                            <DxTextBox @bind-Text="statusName" CssClass="cw-320" ReadOnly="true" SizeMode="SizeMode.Large" />
                                        </td>
                                    </tr>                            
                                </table>
                                <DxButton id="flyout-overview-target-container" Click="OnSelectStatus" Text="Status wijzigen" IconCssClass="fas fa-plus" Visible="IsGogItemEditable" />
                            </Template>
                        </DxFormLayoutItem>
                    }
                </DxFormLayoutGroup>
                <DxFormLayoutGroup Caption="Stappenplan voor de toekomst" ColSpanXs="12">
                <DxFormLayoutItem ColSpanXs="4">
                    <Template>
                        @*Het incident wordt verder besproken en geagendeerd op volgende teamvergadering:*@
                        <MultiSelectComponent MultiSelect="@AllMultiSelect.Where(x=>x.Id==32).First()" MinDate="DateTime.Today" OnMultiSelectChanged="@OnChangedMultiSelect"
                            IsEditable="IsGogItemEditable" />
                    </Template>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>            
            }
        </DxFormLayout>


        <div class="row">
            <div class="col-3" style="text-align:left;">
                <button type="button" class="btn btn-lg btn-secondary" @onclick="@(() => CancelButton())">Annuleren</button>
            </div>
            <div class="col-6" />
            @if (IsGogItemEditable)
            {
                <div class="col-3" style="text-align:right;">
                    <button type="button" class="btn btn-lg btn-success" @onclick="@(() => OKButton())"><i class="fas fa-save"></i> Opslaan</button>
                </div>
            }
        </div> 
        <br />
    }
 
</div>
