﻿@page "/gog/reporting";
@inherits GogReportOverzichtPageModel;
@using Common.CloneExtensions;
@using OCBlazor.Pages
@using DevExpress.Blazor;
@using OCBlazor.Pages.Popups
@using OCBlazor.Components;
@using OCBlazor.Models;
@using DevExpress.Blazor.Reporting
@using Logic;
@using Logic.DataBusinessObjects;
@using DevExpress.Blazor.Reporting.Internal.Components;
@using Common;
@using Logic.DataBusinessObjects.GOG;
@using Logic.DataBusinessObjects.MultiSelectNS;

<LogoPageTitle PageTitle="Registratie GOG - Rapportage"></LogoPageTitle>
@if (_clientenPopupIsVisible)
{
    <ClientenPopupMulti ActionOnClose="@OnActionOnCloseClientenPopupMulti" PopupVisible="@_clientenPopupIsVisible" ClientenPool="@MyDoorgeefClienten.DeepClone()" AllClientenPool="@AllMyClienten.DeepClone()" SelectedClienten="@SelectedClienten" />
}
@if (_leefgroepPopupIsVisible)
{
    <LeefgroepPopupMulti ActionOnClose="@OnActionOnCloseLeefgroepPopup" PopupVisible="@_leefgroepPopupIsVisible" LeefgroepPool="@(MyDoorgeefLeefgroepen.DeepClone())" />
}
@if (_gebruikerPopupIsVisible)
{
    <GebruikerPopupMulti ActionOnClose="@OnActionOnCloseGebruikerPopupMulti" PopupVisible="@_gebruikerPopupIsVisible" SelectedGebruikers="@SelectedGebruikers.DeepClone()" />
}
<DxFormLayout CaptionPosition="CaptionPosition.Vertical">
    <DxFormLayoutGroup Caption="Filter" ColSpanXs="12">
        <DxFormLayoutItem ColSpanXs="6">
            <Template>
                <DxDateEdit @bind-Date="@BeginDatum" PickerDisplayMode="DatePickerDisplayMode.ScrollPicker" Format="MMMM yyyy" ScrollPickerFormat="MMMM yyyy" DisplayFormat="MMMM yyyy" />
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem ColSpanXs="6">
            <Template>
                <DxDateEdit @bind-Date="@EindDatum" PickerDisplayMode="DatePickerDisplayMode.ScrollPicker" Format="MMMM yyyy" ScrollPickerFormat="MMMM yyyy" DisplayFormat="MMMM yyyy" />
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem ColSpanXs="6">
            <Template>
                <h3 style="font-weight: bold;">Betrokken werking / woongroep</h3>
                <DxTextBox @bind-Text="SelectedLeefgroepenString" CssClass="cw-320" ReadOnly="true" SizeMode="SizeMode.Large" />
                @if (MyDoorgeefLeefgroepen.Count != 0)
                {
                    <DxButton Click="OnSelectLeefGroep" Text="Leefgroep toevoegen" IconCssClass="fas fa-plus" />
                }
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem ColSpanXs="6">
           @* <Template>
                <h3 style="font-weight: bold;">Cliënten</h3>
                <DxTextBox @bind-Text="SelectedClientenString" CssClass="cw-320" ReadOnly="true" SizeMode="SizeMode.Large" />
                <label style="color:red;font-weight:bold">@ErrorMessageClient</label>
                <DxButton Click="OnSelectClient" Text="Steller van het GOG toevoegen" IconCssClass="fas fa-plus" />
            </Template>*@
        </DxFormLayoutItem>


        <DxFormLayoutItem ColSpanXs="6">
            <Template>
                <DxListBox Data="@AllMultiSelectTree"
                           TextFieldName="@nameof(MultiSelectTreeItem.Name)"
                           @bind-Values="@AllMultiSelectTreeValues"
                           SelectedItemsChanged="@((IEnumerable<MultiSelectTreeItem> values) => MultiSelectSelectedItemsChanged(values))">
                           CssClass="cw-400 chi-220">
                </DxListBox>
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem ColSpanXs="6">
            <Template>
                <DxListBox Data="@AllMultiSelectTreeChilds"
                           SelectionMode="ListBoxSelectionMode.Multiple"
                           ShowCheckboxes="true"
                           TextFieldName="@nameof(MultiSelectTreeItem.Name)"
                           @bind-Values="@AllMultiSelectTreeChildValues"
                           CssClass="cw-400 chi-220">
                </DxListBox>
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem ColSpanXs="6">
            <Template>
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem ColSpanXs="6">
            <Template>
                <button type="button" class="btn btn-lg btn-success" @onclick="@(() => GenerateReportIncident())"><i class="fas fa-save"></i>Rapporten genereren</button>
            </Template>
        </DxFormLayoutItem>

        <DxFormLayoutItem ColSpanXs="12">
            <Template>

                <DxChart Data="@GOGIncidentSplineResult.OrderBy(x=>x.IncidentDatum)" Width="100%" LabelOverlap="ChartLabelOverlap.Hide" @ref="GOGIncidentSplineChart">
                    <DxChartLineSeries Name="Incidenten/Maand"
                                       T="GOGIncidentSpline"
                                       TArgument="DateTime"
                                       TValue="int"
                                       ArgumentField="si => new DateTime(si.IncidentDatum.Year, si.IncidentDatum.Month, 1)"
                                       ValueField="si => si.AantalIncidenten"
                                       SummaryMethod="Enumerable.Sum"
                                       Filter="si => si.AantalIncidenten>0"
                                       HoverMode="ChartContinuousSeriesHoverMode.None">
                        <DxChartSeriesPoint HoverMode="ChartSeriesPointHoverMode.None" Visible=true />
                        <DxChartSeriesLabel Position="RelativePosition.Outside" FormatPattern="{argument:MMMM yyyy}: {value:#####} Incidenten" Visible=true />
                    </DxChartLineSeries>

                    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
                    <DxChartTooltip Enabled="true" Context="xxx">
                        @xxx.Point.Render((seriesPoint) =>
                            @<div style="margin: 0.75rem">
                                <div>@seriesPoint.SeriesName</div>
                                <span>@($"{seriesPoint.Argument: MMMM yyyy}: ")</span>
                                <span>@($"{seriesPoint.Value: :#####} incidenten")</span>
                            </div>
                        )
                    </DxChartTooltip>

                </DxChart>

                <DxChart Data="@GOGIncidentSplineResult.OrderBy(x=>x.IncidentDatum)" Width="100%" LabelOverlap="ChartLabelOverlap.Hide" @ref="GOGIncidentSplineChart">
                    <DxChartLineSeries Name="Incidenten/Dag"
                                       T="GOGIncidentSpline"
                                       TArgument="DateTime"
                                       TValue="int"
                                       ArgumentField="si => new DateTime(si.IncidentDatum.Year, si.IncidentDatum.Month, si.IncidentDatum.Day)"
                                       ValueField="si => si.AantalIncidenten"
                                       SummaryMethod="Enumerable.Sum"
                                       Filter="si => si.AantalIncidenten>0"
                                       HoverMode="ChartContinuousSeriesHoverMode.None">
                        <DxChartSeriesPoint HoverMode="ChartSeriesPointHoverMode.None" />
                        <DxChartSeriesLabel Position="RelativePosition.Outside" FormatPattern="{argument:MMMM yyyy}: {value:#####} Incidenten" Visible=false />
                    </DxChartLineSeries>
                    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
                    <DxChartTooltip Enabled="true" Context="xxx">
                        @xxx.Point.Render((seriesPoint) =>
                            @<div style="margin: 0.75rem">
                                <div>@seriesPoint.SeriesName</div>
                                <span>@($"{seriesPoint.Argument: dd MMMM yyyy}: ")</span>
                                <span>@($"{seriesPoint.Value: :#####} incidenten")</span>
                            </div>
                        )
                    </DxChartTooltip>
                </DxChart>
             


            </Template>
        </DxFormLayoutItem>


    </DxFormLayoutGroup>
</DxFormLayout>




