﻿@using OCBlazor.Services;
@page "/keuze/gogStatus/";

@inherits ArtikelenPopupMultiModel;

@using OCBlazor.Pages.Popups
@using DevExpress.Blazor;

@using OCBlazor.Components;
@using OCBlazor.Models;
@using Logic.DataBusinessObjects;

<style>
    .myPopupCss {
        max-width: 900px;
    }
</style>

@*@if (PopupVisible)
{*@
<DxPopup @bind-Visible="@PopupVisible" HeaderText="Artikelen" CssClass="myPopupCss" ShowCloseButton="true" CloseButtonClick="@(() => OnCancelButtonClick())">
    <ChildContent>
        <div class="container-fluid">
            <div class="row">
                <DxDataGrid Data="@Artikelen"
                            KeyFieldName=@nameof(Artikel.ArtikelId)
                            SelectionMode="DataGridSelectionMode.OptimizedMultipleSelection"
                            SelectAllMode="DataGridSelectAllMode.AllPages"
                            ShowFilterRow="true"
                            OptimizedMultipleSelectionChanged="OnSelectionChanged">
                    <DxDataGridSelectionColumn></DxDataGridSelectionColumn>
                    <DxDataGridColumn Field=@nameof(Artikel.ArtikelNr) Caption="Nr"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(Artikel.Name) Caption="Naam" SortIndex="0" SortOrder="@DataGridColumnSortOrder.Ascending"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(Artikel.KleurCode) Caption="KleurCode)"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(Artikel.Maat) Caption="Maat"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(Artikel.StuksPerVerpakking) Caption="#Stuks"></DxDataGridColumn>
                    <DxDataGridColumn Field=@nameof(Artikel.Prijs) Caption="Prijs"></DxDataGridColumn>
                </DxDataGrid>
            </div>
            <div class="row">
                <div class="col-6">
                    <button type="button" style="width:150px;margin-top:10px" class="btn btn-secondary" @onclick="@(() => OnCancelButtonClick())">Annuleren</button>
                </div>
                <div class="col-6 text-right">
                    @if (SelectedArtikelen.Count == 0)
                    {
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" disabled="disabled"><i class="fas fa-user-plus"></i> Artikel(en) toevoegen</button>
                    }
                    else
                    {
                        <button type="button" style="width:150px;margin-top:10px" class="btn btn-primary" @onclick="@(() => OnOkButtonClick())"><i class="fas fa-user-plus"></i> Artikel(en) toevoegen</button>
                    }
                </div>
            </div>
        </div>
    </ChildContent>
</DxPopup>

@code {

}